
@font-face {
  font-family: "i40682bf046774cbfb2b3cfc01e707a93";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAAB2QAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBDIETATYCJAMICwYABCAFhkIHLhueBhEVjE2ynwl2TJcpVjLusOwoubcEUY2VPQsPBKRAAgXh0aYiFFoWKi6aLOpLAAHf9Rab/9gvJLqg++cTbdRga9sfKS0kzFp72V5hiE5ck//bHzgBsGuRFGnRFgW0AU6s+HUNOqHdgAe0GwhsGLu8yEcQwI0cqlANTR0DeG3Mbm8RhkHfFIg6ZWN1eRYXLsBUdAsuCE4FUZnyCAuU0AR4eS/PwRAKCqvRe3qWGheo+S1GEwuAq1MAAY1aQAMZy4nJQGG9C40wQuNWN8TBsjoFfovD4QiL/eOBgDiht3sAEAGFYxIt6VDbFQAm2M4CsjtdCCrW0/3Oy6vD6+Dzu8+fBTx7dvD8+d3z88OzoLMzd2/g88uDixdRd85EDquugYNnmR7tr4KPbvjYeOszMOmz98v31wOfzYHkzh7f3aPgV+XvdL7OtAzr1KkBTq0xxgLCnVTdUPN92rviv4s7CwDfzs4fe0qzHLjMPSvQJMWoQ08Yu00ytFWFgHKKrExKAeS4PA56zocvXdeF2F3KORMbaTqwUiBgkFbS4s4a6UQsO6Qb6ZxFu+PPezRiXBHq+ApIhZcEkZo6SQAMskRagsT6NaciZNKNoXx37iQ1VlvkEpXKzCLZFKlaGyNd0hpQ5pQ62jvJo8l0pe828Dg9r0ABmz2j4YqHvNCA/nAfW7+LwA9eoPJ6YUoM5+CA+sr3dW0zgOMrc+NFeC3EikiRUsaEAMMyhlJ+1Q1DtBJZBkhMk6RD1i2RjqHm3PmzHtDh5LEVIAEOCTRjHZYtXZC5X/3A9bBqz4UAd2ALUKfnG2rJ0Fg2TvGxAGmX3O5Q3cwAr/KmmZwNspD9NOMxngxqzOo8r0IA") format("woff2")
}

i[class^="i40682bf046774cbfb2b3cfc01e707a93-"]:before, i[class*=" i40682bf046774cbfb2b3cfc01e707a93-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i40682bf046774cbfb2b3cfc01e707a93 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i40682bf046774cbfb2b3cfc01e707a93-icon:before {
  content: "\f101";
}
