.audio-input-device-selector .button-wrap {
  border: 1px #ccc solid;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 125px;
  overflow: hidden;
  margin: 4px;
}

/** @see http://apps.eky.hk/css-triangle-generator */
.selected-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #00ff00 transparent;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
