@font-face {
  font-family: "LCD";
  src: url("./LCD.woff") format("woff"), url("./LCD.svg#LCD") format("svg"),
    url("./LCD.eot"), url("./LCD.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.lcd {
  display: inline-block;
  font-family: "LCD";
}
