/** Flex-based center */
.center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.center .inner-wrap {
  width: 100%;
  text-align: center;
}

/** Text-align-based center */
.overflown {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
