
@font-face {
  font-family: "id2bc3b576a714b528ce52a471f707177";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKYAAsAAAAAByQAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApMYgE2AiQDCAsGAAQgBYZCBy4bbQbIDiVlAIkIAAAAQDx8raHv326I0CYqEw3csisrgTSeFZCtUhUWUN+9c++N8PmpvKmpAt0fg0KfppeW05deB8rMeRZqf9xP/kX48ANIxooiKSKoPQ0zOYEmtBvvRgMa0d6mmVDPDmWMkNjhhoRIREeXCNRadmB68+LuEdavSe5gwywaDnp2XCtzCYvVL8sQqxYqldE9cV8FhmyCyrSnd5lWT6EiobydC+cZHP0OrrECZKuRq6ACCfMgOcWBat8yA6F5M2oveRbmZVnwO8rysYlZzaL8dZRZD/qB3hNzs1uNFrAtkl6gjz+HU3u3l58+re2s5cmTOrVx61lE+83Hck9dW8pjsVw9kQ2n1J0qWtPE+2KsIjWuRn1M8Pb68+/nm9b/V9dZAXxb+3K6VVgVANWTOAJLjRVQloLT4IjJ6optsNC7iFjLbsrsbPb3MxhGVnZWGeliEnULkExcQ4U6V6DSiBFqzfnYXafNpyRyjbDhP0GhMToh2YhxJBMXoEJnvBErNeIr1Doq/HZ1JoujMgtSFaYxJhL9KI2DiaI4kBH6Gj30Ee8pHxtpLfV9vtoz2aE0nfAdz/aIS+rISqZMpO9ieMkDZi20Na24MB1T0xjRW1ORYqdg7ndcV+PZjjItlDKBlBJKxVBCQr7onRqYUEjsUqSGNOTB+0boHsmNGpL1avLwd/2MWIOS0RF8Ds8TuZQ734DECBFx7jth8CIXYEwTNMtoCRfxlDHQaJgi9/qkClGYoxgI9Ha43Elb7Q7l0sU0MorA4iRfVqYDAA==") format("woff2")
}

i[class^="id2bc3b576a714b528ce52a471f707177-"]:before, i[class*=" id2bc3b576a714b528ce52a471f707177-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: id2bc3b576a714b528ce52a471f707177 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id2bc3b576a714b528ce52a471f707177-icon:before {
  content: "\f101";
}
