html.full-viewport,
body.full-viewport {
  padding: 0px;
  margin: 0px;

  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.full-viewport {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
