
@font-face {
  font-family: "i1e0b8d9f5463481a8baf56e891761226";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKgAAsAAAAAB0QAAAJTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApseQE2AiQDCAsGAAQgBYZCBy4bhAbIngV2LLOY0oenPQc2pn08/Ldfu29mFjOtpD1k0UoTS51QSMlSohQ8/sm1vaF5R8ikzV8sIlX75hFNldbFVjbdeWrzUxWK99S+mpwwDZTzSkohQRi/FLBC/f/vp/4E+sAJgLG+e8ugiOTGKOAJ7YzT+/gEdzyBxzAV8YYL6UEcI9BiSy/Z/3x/q/MDar+6ymAxKKvjoSpwddJDisJzTUJDz6aWeFJDmw6k1NcMX57UMtQdXb2z1e0zKK1PJA4TxOYaMtZECnHWmzqwFRqTakntzIjuVR18RlXFTnHXP080QGUbGOPKP6lC9a9WJlB4Zk5kXtLFWppRGFqjf3AWWfunRbzFwCCoKzn02asHBwAYyrtY9hgaGiqwokuF8cXGaK7wNMHM8x8vL3u/Ta36RHyo/8fUrq8PNV0QotUbxUNiMKcRiBqae0AioYWiVBDs8l07H6a/IthoutTnHM05Xug1W9Pqjm0w7ca2WHXf3KrXI8qiNAt1f8YmHTHAZvWYwwt9xdYMxPqGPvqdbXGR7N9qIVXZ1lKRiZ3Pc8ZLIiOF/IvlNqpIkRNK8w0VU4syp73BRzuQjBX3QCCed48l9SSolIFa4DIXzlVzcMIdLLhXaluGo3BNqRpBdUgQcn03MjR3q4rNsigRI+b4uBzDlQjJGAV/0TkrUiEKOYKichukMGkh2avLqw85IGJUYT1AQN7lPfEl9PuKkSLZYcoCXMwKjiuVA9YqWAcszpdnJlot1uDYv65GUsoQViQGCUSD3Fy/Qe8ywQYsKWRzVm5T7lcrAAAA") format("woff2")
}

i[class^="i1e0b8d9f5463481a8baf56e891761226-"]:before, i[class*=" i1e0b8d9f5463481a8baf56e891761226-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i1e0b8d9f5463481a8baf56e891761226 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i1e0b8d9f5463481a8baf56e891761226-icon:before {
  content: "\f101";
}
