.auto-scaler {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.auto-scaler .content-wrap {
  display: inline-block;
  text-align: center;

  -webkit-transform-origin: center center;
  transform-origin: center center;
}
