
@font-face {
  font-family: "id0d6dd5d02e64b979154a770ab790dba";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKsAAsAAAAAByAAAAJgAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApIZQE2AiQDCAsGAAQgBYZCBy4bcAbInpo8CVQioIDsH2cQACDigXv1XpKuNXQtHhOwG6whrlasJBs0QH9yTTMAVJFTBWI14vBj0/umA+OIhJmxrCbna9TyQbE1AQMXB87J21MPWCsAe2VQN9AueMDSLNALJeCBDkIfxq68iFsEzTal9J6WGptg8hWpJljVzxgOcWZedYHAMPepqMBUo6gvmbefK3U484oJ/+HPRm0BJXVlRs7FfZGCTC1mlV/06M45G+pQxup6DLkptZ3pQ7FVfZqVWL9pYF2ZoZaicHmr/eMRUs9IbwWjkHdOfFtwqskSnNZIfYCRXquSvp3NrXvz83ctbj+0tPP4wkJ6zMXv4dHh4czQTMDWCuGE+ezQrD+IgUPANQSquqY56P9d8WRq97+xxS98fVzxRe0cNC7GHtpYvBWGSfV5CKGyVMND+JK+zbAhhzsVDEennxp8TG3b0WAqlpRDxRoEKqQqVKfFM1RvSgdqtuJhfose78pSaRLH/gBU0p5+qOw4s0CFdA/V6c+bpL6M9Ak1uyv57VrMl7Z16qEhSoPU42OhAI6Go95gAIXDHoTDUQ/FaJ2JjoWcNu1Vvto2c9q6bEKvy9PuHmXWZA5SjEJ8CdtnwqcUh9yRNizJpmKWJWHLkQYjyqUp1Yq53Rxv5SLSBjrKgwqhqGBqHR8mJACLCovyCgIaEo55IFihe1D4c69jhA4L4ozV5d7f9TbG0aaTmiAvF8+YQFnWHBeLKAy9HrsEtZ0RfBSFgziHZINK83NbRiwWyWSt8mkGhlBctB6Rlhi3OYi3tbmQUfp7/1sTTC2lsKzyRGQTAAAA") format("woff2")
}

i[class^="id0d6dd5d02e64b979154a770ab790dba-"]:before, i[class*=" id0d6dd5d02e64b979154a770ab790dba-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: id0d6dd5d02e64b979154a770ab790dba !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id0d6dd5d02e64b979154a770ab790dba-icon:before {
  content: "\f101";
}
