
@font-face {
  font-family: "id5664ba72473486594657d6ed3c30f0c";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALAAAsAAAAAB5wAAAJxAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBRIFMATYCJAMICwYABCAFhkIHLhvXBsgekqSfAERoBgYNAQDi4f/3+7bP87lvxK0OorY6XipkPGRKolQvRfOfXNushU/TF08ClDixhl7nCJ3WfWvOETtWEWpEilChLaZA6X3T3k0Yv6u15TdIeMgbQkdMk4gl0yTWMvkiZtMpiWE6iUgiJ8ytdbewnpMQH0awYsgICR+dIpDsm6Ez2+OdarzUHKR6CF0OWmG8zKaSKm1ehQLJRqgM1E68UeLADOiuT99CjAGZMqclNx4f9dTmd+Qsj6Q0xUcgukSObUBB3DGj12RF4mEpmrMIjFUY/I5Op1jEqH+eqGh+N5iGaE7iQzLVdTJQoAcXpFwmVSz2jBdaeB8mSSvyyKoEzZ2r4uJZcWzXjMowGwg/XJprU9WYVUw7gY71HktI+Xqs59jLgoQ/1lX9qsoXVnv1qabiNbvnm+xTbxNc6Dvzk/qO/G9aj6T4dX8cafHoz9EzkUdWRqSpmJpHvmTmgrpVnCR04On3710MC9P11BYEy6lCUSTNAVBqPccq6gbJlie6NeQFsCi6hFP+DTK9MSrPwYhlRQHqMZRG47OiAvUFknuZ3661mt3L+qyuS6MsZNmosq2rrqyrxs29PrETHob2iWbsKcLT2u2rfVFENgUgKPc94owBCoVRB/ODS2KOr2xAEOTDRgGj5xEcBTmocT8xh2vGgtyhb8lP2XQztVrJUCxIpYZSapdopVNWTsN9255uwprggiHrCZliHoWI6nD3Z/2FhIiNBIBA8UjsrApiXQp+4mM/4wdcJExjV8wAAoH4UG3vC51hj4eS6mivciAN60sd4dAay/2C19VnQ6bIUH0WUpkrnlkKUikAAAA=") format("woff2")
}

i[class^="id5664ba72473486594657d6ed3c30f0c-"]:before, i[class*=" id5664ba72473486594657d6ed3c30f0c-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: id5664ba72473486594657d6ed3c30f0c !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id5664ba72473486594657d6ed3c30f0c-icon:before {
  content: "\f101";
}
