
@font-face {
  font-family: "i5fda7f387f024b949a3aeb4c431da5f7";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAAB1gAAAKBAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBAIEKATYCJAMICwYABCAFhkIHLhuVBhEVjFeyLwrshuMAKl5hIBwwnDX0QkPz9g3TiEt093uOh//W+N23M99Moilu0bUTIomQCYkoGhKR0Dk/FHboXKuw1jVo+gCnFWJVejewfbm/mXO9KRWhRuRc4UuDDLADACsvWd5i857fEApd0P/fbqKNiWvyF9ADJ77r9yKa1hSJjVGCA+vCDXRCu/EmUuKzzTYds1egRIwYPSwOkdhjdI1ArWVbioPo9GWNT7I3z/TKtDcYyfGku39T9RaQZYpXC5XOtv54j8SYKVT1u/cqNFKoSDTt/L0jd+wcYgVWUGE1i2Nmn54wj0xcdsNnJSFoUhvORpkrOTiMsjxNYla9kL9OE+tBP7Fr4g5+qfQCZPozg9nQwaTapuawKzqg4FSUtXdBXr3Wgfd9AiD3cJ1q183Ky1L7EUlqPvBfbiH8ayVvLKRGvnVrj0N+vn4lhJRGy0y6LSQ7oCwN//+SF59+T9K08WfqrMDfJ3pL5zEX1RM7A8Rk5aVOUI5VK1i8MCN5slrzULKr2e9odxhZjavKyJClSzVNQEZOYBXqPMIqjXiL1ZrzYXudNt8kkWuEPX8KVmiMTizZi3EgI/ewCp3xUVbpIZ+xWsq48N7xnCLuGhjZoaoFeRIbpGmlULXXmbds0E24e5YHUtzjoy0cZ+CVOETsFgMrDnnBkP30Hlf+yxIOXqjzemGeme7BEfpKz3VtIxHqmanzIoIGGFIHKrVfnkuEGYhGVRQoNVfLGAaaZ92ZwLnNpCOrzOFjFjicArYiLEiZM4GhWHOp0gXMcvMjz8MpfVcZT+DAFqR/z4DB2YxFcf1xEWiX1AkENyOyWkAdKU9pIaHaJGp2QjwseBUCAAAA") format("woff2")
}

i[class^="i5fda7f387f024b949a3aeb4c431da5f7-"]:before, i[class*=" i5fda7f387f024b949a3aeb4c431da5f7-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i5fda7f387f024b949a3aeb4c431da5f7 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i5fda7f387f024b949a3aeb4c431da5f7-icon:before {
  content: "\f101";
}
