
@font-face {
  font-family: "if77f1d769a8d4bee95cfa2ef4b9bffb3";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKkAAsAAAAABywAAAJYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApUcwE2AiQDCAsGAAQgBYZCBy4bfgbIHpIkARRinhCaAAAA8fBwLN+/ikUXR3KkztYCm64FJzSeQAMm3/2vtTk88cikH9ET84RV1mZ2/e/7O4eUftIyGhKhU4OHE9fkL8IE4MhlUiV1ewJOrKgLbDfBB36EWQyvmnQ/UJ8IFMxo21sfLx/g9ELnCM4dwHhQpMaFa+twonmkpHgiJ2Q6to3EI6QxpwoUkylD9jWAhDSrj4yto5EF3e+gMltA1vaRyyCNJCYAc4u9TueGfR6ZsK9gRw70gWulBt9RqURmcVWDUP86JJdAB6e+iQ6YT01OgFQ22QV0LzqSRF1p6XobUbhec7kpFm92gaVX20JBcaTxGv6ThWRvb6heDc7oLbdEbbRka/YLj2fQBX5F2CZm15u+XoY9V8//54q2AK9XDxNumhvkzuYKpthtVcBsUcU1iQGjqKi7GqEECuSnAu4av0tHQ+8ruLN6CyGZqS84kEJmaFrRGZrRa4UWjNtuL6r3ISlSeWHVH0MTqqIJTVqNASCFHKFpTfEkZLqQZ7TgIOHBoqHEgUuVCuWsSrmmV62igVgrmaTnkbj8agaRUbhDexXoakpzvXJ7QpW4MhK5dHbaLyYYodIZLWG8i+TFzjOTICVDMZYRYxBIESvpoclphzmuZzLU9aW0KUNwkYoKkmOpKKvRVVmKDAjVlJiILg8RU941BkIMBXeQbSWgU1u1ebGyfoKUhEuKCDlp2S2BiRRtS9YxZL1veCckXtjyGCMCUaSQMD4+xFBAEUmIuxd5kImlOQtCsbqM6EVTnWnmJn3sgS4RUm5S6tSUEQAAAA==") format("woff2")
}

i[class^="if77f1d769a8d4bee95cfa2ef4b9bffb3-"]:before, i[class*=" if77f1d769a8d4bee95cfa2ef4b9bffb3-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: if77f1d769a8d4bee95cfa2ef4b9bffb3 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if77f1d769a8d4bee95cfa2ef4b9bffb3-icon:before {
  content: "\f101";
}
