
@font-face {
  font-family: "i6f8660f49748427c96abc01d7ca544b5";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALEAAsAAAAAB1QAAAJ4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAp8gRABNgIkAwgLBgAEIAWGQgcuG5sGERWMR7KvCuxm8g9QcStGRSeHqYAjOi3zN+hjcSsczfMggmg/frP3TTWaJJOuqFa6WYhilUhJNEr6ofCGnfYskoAvPoS8NP6bPuG/OGdJiQg1ImWuC+nGGaDQ4k65Za1UC+x+lUzPxo1WLi3Dwm6wU2n8JvEBMP/X5IviA4oE0F4l3X1d66UvMQpwwnvD0zXY3gQS+IAGQntblgTuq7taxAgXIjJ8eItAsUkaWqubh8pvzUd3NCNoMxjeuPVdPVG4VeUu/KFQyBfihuONPMzigJL29gFEHZDk5aDA7pX1c0uXnPc4QIEjyc8G9nIwGqceh2J3W45AGivu5uoGYnmDS55llxb2j0cQ+chdClpBy0k/jFTdCeT27VHAuOlEUlnH79PnrYxZ97OvC5vk2XKDKD6Z1KlDhucfgZJgNBtPD9eyte7PXbaeAbCsLKpk1e0I8QSkJWT/mToyAh1Ufavt11fM/VniAP79vr/WLB2gMLYTaOoOFlMCFRJU45UfndoJxdwgQ6DSb10PXQmBAl0jndPzDKBczAt5StwQ8nUJQrERLb5EjYsUuUXCir9FSMqjXsixEr1QLnZFyFMfX9P5EvZHKHac/HYl+pN19IVXIuRZUWQktVqmsRHv0nQOrLxje0161/T3+W0D96OnBTiQ7hENF9z1iQ7WB+9uk//04DvNUGk5cZoI7k4D2jM457k2MXq9U2A0s77wSoQ8K4qMpFbLNDbiPSdvnQMr79hek969hmxO1gP3o6cFOJAn1LKLr1Kf6K5fH7y7Tf7Tg+80Q/1fVbaniTB75V0D2jM4hvbaRJ7kWjswlwUEo1LiNSqZ6i0tjAEA") format("woff2")
}

i[class^="i6f8660f49748427c96abc01d7ca544b5-"]:before, i[class*=" i6f8660f49748427c96abc01d7ca544b5-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i6f8660f49748427c96abc01d7ca544b5 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i6f8660f49748427c96abc01d7ca544b5-icon:before {
  content: "\f101";
}
