
@font-face {
  font-family: "i7bcb9f24d93f4aeab50c24c4ebfe9c58";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKkAAsAAAAABwwAAAJYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAo0UwE2AiQDCAsGAAQgBYZCBy4bXgYRBYzJvhiwm4vJtJye3SpNIwpyJN8VuhWako6ZmU8EwVht9s0liWl7RzRBp5uGSiIkk0SkUdKHdD1gcFsPQXb7D9dAMw8so8ALjPM/tyGJRGoTJaTRRPv24B80NZ2LOE0dJr9v2wAP8K2p1cT5vyZfAR1wAmj1krZPq6JIbIoWHHCFjqJ4QnsDHo5GNNXVwF8kHScqxwhkGTApaT6s78u7Gx/cVyUFxoMiM+5eN85kWJ8UKTyVIaR17GuLF1LRbwa5yct7paggSWoy5GxfX7g0fRVU5hgZTrfiBevmJ6MHKcR+Z2xTsjB4sqxYiiaulRlcReJHbnFVhzB/HdJzQA3nvokPhE9NJsFnTZSHgkW3IvKOunf3DY/e4/L+/VkabQzDbJUjFjQr00igxfrJg17uv31Sj5+R7Rj+f/w0lkjTABl7e4MpbmsDHQLMJO4Ulfq8sytZFCQBoMCfgdHQeEuQrrFQkjOjg0Mp2AqRKtttIk2jh0SWbu/2Zyv2HSIlU5j1jxFJ8qKMSDYbLVAKdp1IVRYflLQu7AuRxT5Mv122ttyuIXk3UW32SVMbYV0nUBu0hwuY0DUT4ntYmVJZ77ttkGfliyQT057R4oJYxULpp++L9a+BSPikwJfiOJhu4Q1e81P1njkn+eAcfJrVIPGcCakZu4lGWhFYTkdA9/cNrYMTwAQ6jQlEr4MlW9V48We9AfFYsQuRGLEl1GrXtkxLwbI++ZHPJ6r9lE0nRLATCcdPV3A4MHJ3T9uAp3LngshtxqkZTfXksEkfGdiykIUl5Rb4MgYAAA==") format("woff2")
}

i[class^="i7bcb9f24d93f4aeab50c24c4ebfe9c58-"]:before, i[class*=" i7bcb9f24d93f4aeab50c24c4ebfe9c58-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i7bcb9f24d93f4aeab50c24c4ebfe9c58 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i7bcb9f24d93f4aeab50c24c4ebfe9c58-icon:before {
  content: "\f101";
}
