
@font-face {
  font-family: "i2e13d90f6f6c463a993c7fcb77746615";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKUAAsAAAAABzgAAAJJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApgegE2AiQDCAsGAAQgBYZCBy4bhQYRFYwhsp8Lti2C1z5AirER2tyVCJ7G+s3b3dOvjopVtQQdqnmolCSaoBEpRfMtznlSIupyRM4VUqAM0PIWm//f85tQ6ILOcxNtBMDENfmLMPFde5XUSd0YZdiBG+iEdn8+egCYuql1oM+OFHEePutGKEU8fEegaYlN0o5dB07ovHH29i2jCswGMzVuXL18Vr16FEUSdaFqzB+OpyqYZCqVHV8fkrSTVDJkHLm084Itv0PLLEGxdOU+qCBjAckmTpiWQ7JEFsiad6SYxl6pwe9otbpZ7PrniSokt4NxYc7ENu6o1AQKEaZSKlwPkTu6y+oHbaP3Xjeb918ablv5ZLr7qq3twZuIt7n9zWj7EXE6umO8UU6nZ/OiJ6rcSN6dSrIFfEsstfon39edmH+6a8P/epsl8Gv+t/uZ4WzUN7QGjND7BLBZvYRLJFNlS95UB61s6/bNOx2mnsJWM3XKs6jnCFCQvWhFm2to1VR30Kb5Xp9v0+ejLEpD2OZnQpPOGESzbTEDKMgltGIw3sqrFvIObTqV7Gqj+6d+tdqlrpHR6Q5vTMeY1XsI3kN00UxSQ30EtjLNfYqt47pZSiCBuU9UTLiyHSXMB96pq78rwEoRCqUdQyC4KzkUe3b2fZ6IYD2dOcWXreySWiOGrr3iDaPGKFPeg+C90j9S2oikoT4CW6Pa7JbWHdfNUgIi4EigKlMsme0o75sPeKeu/F1Byl8pgrKeJkMhUFFee5lDsWeOIzRPSHuBtWQ8ZIQP6FJcudnv6nlKrxcA") format("woff2")
}

i[class^="i2e13d90f6f6c463a993c7fcb77746615-"]:before, i[class*=" i2e13d90f6f6c463a993c7fcb77746615-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i2e13d90f6f6c463a993c7fcb77746615 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i2e13d90f6f6c463a993c7fcb77746615-icon:before {
  content: "\f101";
}
