
@font-face {
  font-family: "ie72ec5791b14430aba5b73390af84dd0";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK8AAsAAAAAB0gAAAJyAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApwewE2AiQDCAsGAAQgBYZCBy4bhgbInpo8URIioCjUAsAAB4rnefab9wEztVA4y6ISYlwphPT/dy7/iBWrjKjlMSuEpHS9Qvp6uXtvDoCEnZ8HFGrKLikiR8v/f+Ka/AX0wAmgXbQoWlMFtafgABPXOrDdhHbjzaZNNIPllV/NvsnHCJpt6pG8PzI1C/l/mPlQJpUzHvL8/NkWhkwdU1Gh2UZR37JqOdfSsKcHaI0vvixVPyipK3OKjj6Gdeirxa1xDTS6W4pltFlexipQIWetyQMpotAUzclU0+BY+aGWYujJUW1Rf52T2wpGKfNMrM89aqYEjzXRNDA7aS8yvXCqJqn24ezp6fHx/r6wKqzafnh4Kq6+f2h5ssGpDNlNdeW8o5Hll5frVqWb3cXmxb3k1dT2++xEQ/0B9AEUzb/4XZ5/kL1R0PXf2OIa8L+42hpzWAA07tEfkAZnoGD+1/AOy7QzbLRk+oxSsxuiYIFOvz2jMXUbgQZTuVROtToKVJBxrE6LH6zelDjWbMXj6hY9PqAslSZR9Uewkvb0Y2XVVAEVxMTq9OdZqm9DXrFmFyX47VrMl+Zto1UyNLW1XSSiosgCJlglrbLcLmCzTdF1Ydqw4i4OkeY6r3DeCGM29ZHIYecYNXwjxMzQEdlCsYQlMWYiM6QeGqE+M1yXoiCkUUNjXISxoIPnTX4iTqMe2AytJAaNqlU7ESFSKGQCjMBURCuZrL3+eJvaKHQ6wTSDJc6FhUu1eTIwf+tDMTbKh4i4JYFRxV+WijEGfRqxBYlJsMghDGNCTCHKg4xsT4Nxl4sqJWhXokdIMpzIhHigA+/2MlEfR1ukj2SOWQovL6t8a9QHAA==") format("woff2")
}

i[class^="ie72ec5791b14430aba5b73390af84dd0-"]:before, i[class*=" ie72ec5791b14430aba5b73390af84dd0-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ie72ec5791b14430aba5b73390af84dd0 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ie72ec5791b14430aba5b73390af84dd0-icon:before {
  content: "\f101";
}
