.mixer {
  display: inline-block;
}

.mixer .channel {
  background-color: #484f55;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.4);
  box-shadow: inset -0.1rem 0 0.2rem rgba(0, 0, 0, 0.3);
  float: left;
  height: 28rem;
  position: relative;
  width: 8rem;
}
.mixer .channel h4 {
  bottom: -0.7rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  text-align: center;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  width: 100%;
}
.mixer .channel button,
.mixer .channel button:hover {
  background: rgba(0, 54, 77, 0.5);
  border-radius: 0.15rem;
  bottom: 18rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4),
    inset 0 0.3rem 0.4rem -0.1rem rgba(255, 255, 255, 0.5),
    inset 0 -0.3rem 0.4rem -0.1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  height: 2rem;
  margin: 1rem 1.5rem;
  position: absolute;
  width: 5rem;
  border: 0;
}
.mixer .channel .active,
.mixer .channel .active:hover {
  background: #39b0f9;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25),
    0 0 0.2rem rgba(255, 255, 255, 0.5), 0 0 0.8rem #48c4fa, 0 0 1.3rem #48c4fa,
    inset 0 0.3rem 0.4rem -0.1rem rgba(255, 255, 255, 0.5),
    inset 0 -0.3rem 0.4rem -0.1rem rgba(0, 0, 0, 0.4);
}

.mixer .channel div.label {
  bottom: 22rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  text-align: center;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mixer .channel ul {
  bottom: 3.4rem;
  list-style: none;
  left: 1.5rem;
  margin: 0;
  padding: 0;
  position: absolute;
}
.mixer .channel ul li {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 -0.1rem 0.1rem -0.15rem rgba(0, 0, 0, 0.3);
  height: 1rem;
  width: 5rem;
}

.mixer .slider,
.mixer .volume {
  bottom: -0.5rem;
  left: -3.5rem;
  position: absolute;
  transform: rotate(270deg) translate(10rem);
}

.mixer input[type="range"] {
  appearance: none !important;
  background: #1f1f1f;
  border-radius: 1rem;
  box-shadow: inset 0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.5),
    inset -0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.5);
  height: 0.8rem;
  width: 15rem;
}

.mixer input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #272b2c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF272B2C', endColorstr='#FF272B2C');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiMyNzJiMmMiLz48c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzA2MDcwNyIvPjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMjcyYjJjIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjMjcyYjJjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(47%, #272b2c),
    color-stop(48%, #060707),
    color-stop(49%, #272b2c),
    color-stop(51%, #ffffff),
    color-stop(53%, #ffffff),
    color-stop(53%, #272b2c)
  );
  background-image: -moz-linear-gradient(
    left,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  background-image: -webkit-linear-gradient(
    left,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  background-image: linear-gradient(
    to right,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  box-shadow: inset -0.5rem 0 0.6rem -0.4rem rgba(255, 255, 255, 0.4),
    inset 0.5rem 0 0.6rem -0.4rem rgba(255, 255, 255, 0.4),
    0 0 0.5rem rgba(0, 0, 0, 0.4), 0.5rem 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: row-resize;
  height: 3rem;
  width: 2rem;
  z-index: 10;
}

.mixer input[type="range"].slider::-moz-range-thumb {
  -webkit-appearance: none !important;
  background-color: #272b2c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF272B2C', endColorstr='#FF272B2C');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiMyNzJiMmMiLz48c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzA2MDcwNyIvPjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMjcyYjJjIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjMjcyYjJjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(47%, #272b2c),
    color-stop(48%, #060707),
    color-stop(49%, #272b2c),
    color-stop(51%, #ffffff),
    color-stop(53%, #ffffff),
    color-stop(53%, #272b2c)
  );
  background-image: -moz-linear-gradient(
    left,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  background-image: -webkit-linear-gradient(
    left,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  background-image: linear-gradient(
    to right,
    #272b2c 47%,
    #060707 48%,
    #272b2c 49%,
    #ffffff 51%,
    #ffffff 53%,
    #272b2c 53%
  );
  box-shadow: inset -0.5rem 0 0.6rem -0.4rem rgba(255, 255, 255, 0.4),
    inset 0.5rem 0 0.6rem -0.4rem rgba(255, 255, 255, 0.4),
    0 0 0.5rem rgba(0, 0, 0, 0.4), 0.5rem 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: row-resize;
  height: 3rem;
  width: 2rem;
  z-index: 10;
  border-radius: 0;
}

.mixer .volume {
  bottom: 21rem;
  width: 14rem !important;
  left: -4.5rem;
}
.mixer .volume:nth-child(2) {
  left: -1.5rem;
}
