.app-content {
  width: 100%;
  height: 100%;
}

.app-content .sidebar-wrapper {
  overflow: hidden;
  position: relative;

  width: 320px;
  max-width: 360px;
}

.app-content .sidebar-wrapper.inactive {
  max-width: 0px;
}

.app-content .sidebar-wrapper.overlay {
  display: inline-block;
  position: absolute;
  right: 0px;
  height: 100%;
}
