.right-sidebar-menu select.view-selector {
  width: 100%;
  padding: 4px;
  font-weight: bold;
  margin-bottom: 4px;
}

.right-sidebar-menu select:not(:active).view-selector.highlight {
  color: orange;
}
