
@font-face {
  font-family: "ifd4635e10a9d4b46a9f10c76023f92de";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKAAAsAAAAABwAAAAI2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAooSwE2AiQDCAsGAAQgBYZCBy4bVgbInqGjMZFqUs6RnydVI6jWsmcfIUBYPioVDSgksLIxMkbFaCChUd+9018+W/E8KhL1x9qKZcm6a3f60itDGZzfQtEPgs7hEuCvdOKa/OUFnACYtaJIWlN7WyTtfEK7p639BzrBeQOPYH63tyvqKy5JksmNc96m0a4RqNo0drKzPj6w6xtJKbtxhpeDWRs3gSfZVcrKy1OlLBSFY7V4cI6GGlI3S5j1SSGHG/bPVoZNv6OEtL3VRomBz8UcVhGROBYLu05FJE5VC2emsb1qg+/IshYRuwZF/Ou4ug5GSTiTWKWjVieQH1weVjNtIhUKA9Wq2kB9UHw1ot28v2iX2qYYskz/Dz7kuV6e2fov17Qx3vYu6eJM+clYoInobyNKWPRWvy6eVJdcQrUkyXy87c+6GKY+Fy+ZmlpuWLcE5JEdWVBzRRZNKciqFR/Ha3p8yol8Rdj278ikGf1kznbMAnnkjCzoj0etKCFPZNVpclHNfDoN0DTbjRbUqrJnmopQ2cMvpjvtar2BvbqBO/CKWDpNe7f39gQuD2zKa+Wq7hYbSMFJAsPVO89fvDoRcnQ24WubEsSx5ZmzIWgq+0RZv1JByVdZ24QFkNHU1tACaqqk3moo4i8G0i9a62irqmtAPXUGuAM8hZjkUF02b3sCnFzASnG36rIqEtgYKZYtEWD8K++43AtPHSGIQ46V4NbvexMQi1lcJnuFgEbKfEMu01cpg1AbLdOQKU6wmyK05uQvtU0ZAw==") format("woff2")
}

i[class^="ifd4635e10a9d4b46a9f10c76023f92de-"]:before, i[class*=" ifd4635e10a9d4b46a9f10c76023f92de-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ifd4635e10a9d4b46a9f10c76023f92de !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ifd4635e10a9d4b46a9f10c76023f92de-icon:before {
  content: "\f101";
}
