
@font-face {
  font-family: "i53fe6bbd431c4921b9be4a2e30a0a179";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK0AAsAAAAAB1wAAAJnAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBBIEJATYCJAMICwYABCAFhkIHLhuUBhEVjEmyLw7shs8njOUaOtU7LvoPVdOJxO3nIMK1nE3yVCJSxKBQEiggYStMLaBQlTUG9Zk41x6UiFAjcq5wpUEGWIu5AaBzi01AgiMU7QY7ZzKjm/7PNfmK8AP45SqSKqg9BQdc4dU4ob17PjqELbKL2KKv4FMQwI0cSlHVtc3deC1PrK0ShgGGBepsWV6Ym8Bp+jEYOe1EsI9sy5MzbEAZ5YBH/vUMDMGgsGkgr322Zpryb8EahgEnI1uWAtgALSITDEj3qL0VrcQz0Lh5cUMcHCtb4FssKzUiR9Uhxl8HmR4ARMjMM7Ex96gpBfBYI0kF0pmmg6T2bQdcBQS4Bd3goqDb4ODb68DQ6+uAgG33wFLi3iRjSaL83ikfoag7z8Sc799/tRUSrLt7/Np9n/5SL3KyeSP7vjkq3UdTDgRnGGEvP4k+OHUf8y7+d7ozDPC1+NuUM2ROcO7YIUBSwzRYFv6QCFhFOU02qEg9sdQN3WApTh8+ZgaF2LtxOoitpbpUpsiIIRrAhjuLYCeWdXAjnZvt7vjzzA8xLoRKPiVQeEkQaColATHELNgIkjupfYx4ADd6Fbu7k6S8y1eaqCF1qRKlVUEHlJ7vgh15ljWbsOcoNpL6Jvm2sO2eZ5LCZJ8YmLGJA5rw0rts/g9DufFEnecD48h0Nw5QR3yOY+mJcuyOcfAU+UoTNaQuVaK0KugkBOM83wV7LKSzZhP2HMUmqsnMwnph2z3PJIVFWgeUZ2MTBzThpXfZ/B+GcuOJ+vbRAyPGme74uAB1xIchuvSkdEpSexxCuvgCGiVqscYsKJ6jCAA=") format("woff2")
}

i[class^="i53fe6bbd431c4921b9be4a2e30a0a179-"]:before, i[class*=" i53fe6bbd431c4921b9be4a2e30a0a179-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i53fe6bbd431c4921b9be4a2e30a0a179 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i53fe6bbd431c4921b9be4a2e30a0a179-icon:before {
  content: "\f101";
}
