
@font-face {
  font-family: "i3c329622db814cebbbde1566266d2926";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAJwAAsAAAAABwAAAAIlAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAooQAE2AiQDCAsGAAQgBYZCBy4bSwYRBRTJfh44xlrxSreN8MXqotcRlRwp7zmCaK2snp0HxjCwMOhiI1yMBdTsYgzqK0jUzam5RUgAeSitO46nfD33kJOtnKNfATBxTf4CeuAE0C76e+pl6xpHe+PXlRbohBJoN4Qtc4N+N6spKy9vEag212ppY7vzoPqb4eFt3TLIB3V/3ByunFOpQ1mm9Uqh3LAzlgVlxIt4z/H88bHQgFeSsgIM7b286aK1vwM70hMsSyMC21+GAjORiYPGym6FUGihupINc6z+4HeUSqknjmoL9ddBby3opcwzsTH3qL0J5LJWiWqO5JGUc1lNrr7BzScltOrjRFhoh+CL/vnsTMPK/5U1H5n/pZ/nTrpv0iq3iYNEuXRDACM5lGjxk0oJ1eixeg8afZ66HYYuFFQYqqWi1CYpkJFtWJka17FyQx5h1WZ4ub9Gi3eqELlKWO8HwZL6aMcK62MUyMhlrEx7lMpNyGus2uHkxBrdePoamtTgzSPmeHWnRBG+WyZ39h69z3hD/6Tuew41ZDbrq31R3QdewWkbdo8HrVSDUIb4D/tPhyIFSuUFWl6F5plhqzxSEt2LbHdjiulsnXhRQyM10I2HUI5Xzon4FHEyk3Pm3XSq5GC6/txP6r7nUJda8OTf+ovqPvAKHM0uCTyUdVlqEMrXx3+w/3RIpIBSeQHt9sVC88xgMxeNlETrJ5S2O4PrSqivpUXco4Kp/kkzHXC8kIfEq1IA") format("woff2")
}

i[class^="i3c329622db814cebbbde1566266d2926-"]:before, i[class*=" i3c329622db814cebbbde1566266d2926-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i3c329622db814cebbbde1566266d2926 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i3c329622db814cebbbde1566266d2926-icon:before {
  content: "\f101";
}
