.file-modal .main-content .control-buttons {
  padding-bottom: 10%;
  width: 320px;
  display: inline-block;
}

.file-modal .main-content .control-buttons button {
  width: 300px;
  max-width: 300px;
  padding: 8px;
  margin: 8px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
