
@font-face {
  font-family: "i26bf19e1782a4f90a8abb9c6c1dbf8cf";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALIAAsAAAAAB3wAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBJIEkATYCJAMICwYABCAFhkIHLhuvBhEVjDmynwdlmx1n5XXirBllKMkvR16x3/n/P6f3Je8HfgaArDbf2tYGKsyMBRRqbqdGjHR53nbvb51nngaY4ECtbiCCRLXqMnTT5GHKB7/2dr9vd4wNf1BwK3XimvyFTw+cAJi1ou1pEamNUTTSovQE201ot/PRgEY0c2udQ/v0mNkQss+CISMkdg8IINXpodyRqSXEzP7tDTIwXiQYlTTnp/sw9iDGyBqIppzKTRCAUh0Aq7+8DEsGhWhwzdzJ8BH6vlOLsARAlxBA0mkBUAFVAAZ6anIGKiqYSiZZAaxVSfCdSER8oFXdoPLXcXkUAMgCFxPfhFBbFADAYk+3AToJ4bPFNjHNVRmwAZ9jWUGPyO8WBR2fHXD93vLFZNl7MnmVXeBzgp7fDdjpJ3/nNy1WsTzQhB4MiRNZm7lfOGNyzJESvFcaGXnrPKwPG01a9mMg4BPO3I3t+jcsLAHA198Jdw96NMP4S4DAwiRehhDmyeixZRVthFYtSUAETpyP2XmSH5qjyydARcoULsY4cMFyAWjIHS5Vck9bEj1rtEyQAXwOXBGTFFkFSkUKAznBhZSsaEAecAm7Un47CyW1soQmiu/Zt13ASnqHHcbYU0N+jNKRfPP02jFb2nt9t3/O95JO8MbZnvHkkzMqjxA/cL+noCogOR3wSKfyvie4clqZ1Myq12Ct0EMNpaNYBI1IeD3mtToBqoiegzooinqkQbzR/E13iPjGJi87lL26PL3rH8tui+QE27IN5wk8tdOXjhQbb48+wO1tEiglgMiSA3h8zxqVvSrp0C5924oRZcwT8cvA0iCx+g1ymeALbBdRY+NzSmdRAAAAAA==") format("woff2")
}

i[class^="i26bf19e1782a4f90a8abb9c6c1dbf8cf-"]:before, i[class*=" i26bf19e1782a4f90a8abb9c6c1dbf8cf-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i26bf19e1782a4f90a8abb9c6c1dbf8cf !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i26bf19e1782a4f90a8abb9c6c1dbf8cf-icon:before {
  content: "\f101";
}
