button.network {
  padding: 4px;
  border: 2px #000 solid;
  border-radius: 8px;
  width: 304px;
  max-width: 304px;
  height: 200px;
}

button.network h2.title {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  clear: both;
}

button.network div.description {
  text-align: left;
  font-weight: normal;
  font-style: italic;
}
