.Box3D {
  width: 100%;
  height: 100%;
  position: relative;
}

.Box3DScene {
  width: 300px;
  height: 200px;
  margin: 80px;
  perspective: 200px;
  display: inline-block;
}

.Box {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  /* transition: transform 1s; */
}

.Box.show-FRONT {
  transform: translateZ(-50px) rotateY(0deg);
}
.Box.show-BACK {
  transform: translateZ(-50px) rotateY(-180deg);
}
.Box.show-RIGHT {
  transform: translateZ(-150px) rotateY(-90deg);
}
.Box.show-LEFT {
  transform: translateZ(-150px) rotateY(90deg);
}
.Box.show-TOP {
  transform: translateZ(-100px) rotateX(-90deg);
}
.Box.show-BOTTOM {
  transform: translateZ(-100px) rotateX(90deg);
}

.Box__Face {
  position: absolute;
  border: 2px solid black;
  /* font-size: 40px; */
  font-weight: bold;
  color: white;
  text-align: center;

  overflow: hidden;
}

.Box__Face--FRONT,
.Box__Face--BACK {
  width: 300px;
  height: 200px;
  /* line-height: 200px; */
}

.Box__Face--RIGHT,
.Box__Face--LEFT {
  width: 100px;
  height: 200px;
  left: 100px;
  /* line-height: 200px; */
}

.Box__Face--TOP,
.Box__Face--BOTTOM {
  width: 300px;
  height: 100px;
  top: 50px;
  /* line-height: 100px; */
}

.Box__Face--FRONT {
  background: hsla(0, 100%, 50%, 0.7);
}
.Box__Face--RIGHT {
  background: hsla(60, 100%, 50%, 0.7);
}
.Box__Face--BACK {
  background: hsla(120, 100%, 50%, 0.7);
}
.Box__Face--LEFT {
  background: hsla(180, 100%, 50%, 0.7);
}
.Box__Face--TOP {
  background: hsla(240, 100%, 50%, 0.7);
}
.Box__Face--BOTTOM {
  background: hsla(300, 100%, 50%, 0.7);
}

.Box__Face--FRONT {
  transform: rotateY(0deg) translateZ(50px);
}
.Box__Face--BACK {
  transform: rotateY(180deg) translateZ(50px);
}

.Box__Face--RIGHT {
  transform: rotateY(90deg) translateZ(150px);
}
.Box__Face--LEFT {
  transform: rotateY(-90deg) translateZ(150px);
}

.Box__Face--TOP {
  transform: rotateX(90deg) translateZ(100px);
}
.Box__Face--BOTTOM {
  transform: rotateX(-90deg) translateZ(100px);
}

.Box label {
  margin-right: 10px;
}
