
@font-face {
  font-family: "i9798e95d079e4e47886cd3cc19bcef59";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKcAAsAAAAABzgAAAJPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApgawE2AiQDCAsGAAQgBYZCBy4bdgYRBfTJfiZkchfWMxd17nhnCDLb1IqSfhMPT/fjO3dmftdGVPhyNWiDRgItrsgHema32IzA9qHQBdc324nuyKt6fS3nuikVoUbkXO+bAf0A/+eafP38gD8eAN2ygtoTRzyN0iie0Pr5gEewYXrlFx6EbQQazbJCWrdh2z6t107fu2GIQowGaW5cu3zxtHruVhQYrxdqa2ZNjudqMNcKNPubT1X0kdRkomDXhfXnrBr0ZJojqLceAppdg4xpKMS+2vAOWTA6awwXY9hXbjDoVZXVir2qBPvrRHYzGAbZe+Jo7q3GEtwWwwiM4v+Hz0ZYp7f34evXD948etfXFwtzh/fFrsNfFo4aVe4sqN/XdL8zz3gCZpUzG+rON97vSmX5olMEk2++2nyybVn1TY8+9n/JodVea8+XoBLbp85uqsr8JDzBQdLd/YaTEUcSNko7FbK2+9syHEYf3lpndCrMUToJIoXYDDWaXIFao92HRlO9nd2kyw9ZlAZhjX8AktbohWxNjEMKcQFq9MZ7YW0d8RUa1QeSZZrMhLSGmiFe1x0xPJNfj0WaudQkhgrbHJPdPdujT2ONj7Z4nIOuKCn3u8bgysNedNAf7+mSf7WIQxd0XS/Os+IeOlKu4FzX1hBF3caB6WIGNQbC1aotyptdpn/dTIjGOCkjYqAEtXIwUec2s465Wjx6lYUOp4FaQZF4i+c0DsSXpoN1IQfUD55HJ/FdWhAOagF9/eCFZhlWcOsnjUhcAmdEcNMg1C36mgM2Sw++EQrfw6VZGURXYwAAAAA=") format("woff2")
}

i[class^="i9798e95d079e4e47886cd3cc19bcef59-"]:before, i[class*=" i9798e95d079e4e47886cd3cc19bcef59-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i9798e95d079e4e47886cd3cc19bcef59 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i9798e95d079e4e47886cd3cc19bcef59-icon:before {
  content: "\f101";
}
