@font-face {
  font-family: "Twobit";
  src: url("./Twobit.ttf.woff") format("woff"),
    url("./Twobit.ttf.svg#Twobit") format("svg"), url("./Twobit.ttf.eot"),
    url("./Twobit.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.twobit {
  display: inline-block;
  font-family: "Twobit";
}
