
@font-face {
  font-family: "ic450a4e02c344d67bcb1f5a2e4a23855";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKUAAsAAAAAB0QAAAJKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApsdQE2AiQDCAsGAAQgBYZCBy4bgAYRFYxHsp8JvCnLCUKolw9qqroJx2KCp9wv3+bvUVJgGg8EFkmhrEQStkYBClVZYSpR3+rccqUq1ImcG3RAPeDzPD9CjePid/grNaeNAJi4Jn8BPXACaNUqAxujzIofaANJod3ORw80or3pUsG9SojFLgMZ1gbtGgSw1FCPaW3vHSVqdWpjnTQU2RforbK6tDBFsMVRFMpBBH9wPEXO8AGZ5EJj/e3JGCLA4POQjsH5tlkav0XrqAHUEiCgvg/wgApAQUbDfD8ewqiHzSt5sFarwLeEw+ZEVrUh/NdJcwQAGcDsiT25rTYbABSKeUA+IerRJJVbNFhJSrIJCVhc5u61c4e3ku0q0pJTnRWXmpSe+BVSSAUNGW2VWEnGg636nRqTGjSpZinmEt7/GgI7Ry9pIrr2P+ioAfgs9xJ8iGpqgOB0AYGMk2pbIAiLWnUuaMibPmsAq2EIYzCG99FdIfcfggFyu+TdWgkAinRhPhzLmJ9cNjFLOTf6jniemIdoCKGZjwMzREkS5tEsBYAi85iPJLmT/BFyj1nGDb+do8hYl5M9AfdWZ+0Q91hFisYHbq3ntjSiieaO/MiM9vhpC4/TUYYUIPeKgRkPfqEC+eE9pv2XBj8oQad8YYwE9yCP8irPdW1rjE4PLJUSc7In4N7qrB3iHqtI0fjArfVurEsjmmjuyI+qCQ8b64XH6ShDClAJDCXXUvmF6nL54T2m/ZcGPyhB/55OZmMkVm58zqO8yjOQ3dao8zzrL7VkjQKxGKFeD12SlBkD") format("woff2")
}

i[class^="ic450a4e02c344d67bcb1f5a2e4a23855-"]:before, i[class*=" ic450a4e02c344d67bcb1f5a2e4a23855-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ic450a4e02c344d67bcb1f5a2e4a23855 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic450a4e02c344d67bcb1f5a2e4a23855-icon:before {
  content: "\f101";
}
