
@font-face {
  font-family: "i8b335cba6e554572a26fd514b03fc21e";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKoAAsAAAAABxAAAAJdAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAo4UQE2AiQDCAsGAAQgBYZCBy4bXAbIrqGMWw8YA2otEopzsd7EMAdV8AERVGvv9+xeiEA41oSSQMgIFR2V8hGG/DeahAPU7965N3+s2E1lY1VOx6jQLkl7aTl96f2BEqDULKBQS2FUq3ZYg9yXGZPG2YChnGqLmMkP8D//1+QrwiQ/hIx1UURQA5XhH+6eL0BScDwc0Ig26C4I14hwjUC1RZt61g/Pr8jwvcCaTOozbAd3Z9xniSBDeU6hCCuVQjngaDxFykjiO073htgh017D/WXZ0LN1eRCT7d8xTqVPWEpUHoYyZMyaE4g9YGxDb1Sc1au6KfYZRszqDH5H6TUgTPWK7K8b2mtBbyg8kzhLj1pJ8FgC4Woj0ylE7V32dDWPzx2+9PL+kO3j5HBCthEl5JkET8C33SZuR9b/D9W8cMXn1492hSxBpeR4QJLOEyVjKM/8BTm0E0KINpNazdmQy5NKDYlGf4jNMGRjosLQreXTWgyhAjvBy9S4xcsN6eLVZjw712jxKYuiSlj1H+BJfbTj2WrMQgWm8DLtsVYOwt7wageJ/HY1xlPZsvR9FkkRAmMBW/KEF6qYuYF0fBV5LlxA0i2FIZkN+m43YNpM19S1HLJXHEENRiDEVD7S9i7xEBVVRlf0UNcIZalpY3QOEVopYrNq2yq+uRXpimSWST4fE5GEEGCYALPEI3hCSoxxBSSHT4mCz+0CF0CiqyQYUQtm/q5vAKOV0WqUy+KIhI6MWixdQCC+XHpEte4kPAgplGJoFepQPRiBUkmjGjAoByLIkjLkG6vscZ0ijVkiIf4eA4MK7hTxYFbcRLomBAA=") format("woff2")
}

i[class^="i8b335cba6e554572a26fd514b03fc21e-"]:before, i[class*=" i8b335cba6e554572a26fd514b03fc21e-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i8b335cba6e554572a26fd514b03fc21e !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i8b335cba6e554572a26fd514b03fc21e-icon:before {
  content: "\f101";
}
