.button-panel {
  text-align: left;
}

.button-panel button.panel-button {
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  width: 33%;
  height: 75px;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  line-height: 12px;
  display: inline-block;
}

.button-panel .cover-content-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.button-panel .item-name {
  font-weight: bold;
  z-index: 1000;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1px;
}

.button-panel .item-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}
