.app-footer .icon {
  font-size: 1.6em;
}

.app-footer .icon-label {
  font-size: 0.7em;
  white-space: nowrap;
}

.app-footer .left-column {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

.app-footer .left-column .content-wrap {
  width: 100%;
  text-align: left;
  padding: 0px;
}

.app-footer .center-column .center-wrap {
  width: 100%;
  white-space: nowrap;
}

.app-footer .right-column {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.app-footer .right-column .content-wrap {
  width: 100%;
  text-align: right;
}
