.app-footer {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  padding: 4px;
  white-space: nowrap;
  height: 48px;
  max-height: 48px;
  overflow: hidden;
  position: relative;
}

.app-footer .icon {
  font-size: 22px;
}

.app-footer .left-column {
  text-align: left;
  max-width: 80px;
}

.app-footer .middle-column {
  text-align: center;
  position: relative;
}

.app-footer .middle-column .content-wrapper {
  width: 100%;
  overflow: hidden;
  margin: auto 0;
}

.app-footer .right-column {
  max-width: 70px;
}
