.labeled-select {
  vertical-align: middle;
  margin: 16px 0px;
}

.labeled-select .label-wrap {
  text-align: left;
  font-size: 0.8rem;
  padding-left: 5%;
}

.labeled-select.disabled {
  color: gray;
  cursor: not-allowed;
}
