.vu {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* background: url(../img/vu.png) top left no-repeat; */
}

.vu:nth-child(1) {
  top: -10px;
}

.vu:nth-child(2) {
  top: 16px;
}

.mask {
  height: 108px;
  overflow: hidden;
  position: relative;
}

.needle {
  /* background: url(../img/needle.png) top left no-repeat; */
  height: 51px;
  left: 54px;
  position: absolute;
  top: 64px;
  width: 48px;
  transform-origin: 48px 51px;
  transform: rotateZ(0deg);
  transition-duration: 0.2s;
}

.vu-label {
  color: #111;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}
