
@font-face {
  font-family: "ib80ed68387364fc895b626ec5f09a7d7";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALMAAsAAAAAB0QAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApsgQEBNgIkAwgLBgAEIAWGQgcuG4wGERWMJbKvDmzTRaE/OVzFDlfxpqK+D2lFyd5zUNTavz13+wnJEXKA3btYwvJRVB4QVHQqGmXqGkBgwHdhJBai6Xaj2BhjtlDogv7uRHdcm+OW0oc0s9Yw/cH8f67JV0AH/AH8etXBa6ANcIKJWSAptDfgAxrRFtlF7NGLvgUB/pRSi9Xc2j1M8PbCgV3EY4BBQVyu7Y21BXzFAAZDZ3wR3iXzfuoMXqAsBQJV/sdvEM4iWHjZQFX/assy9b9EZsgDpMvBHs4HILBpZeFyTBouTfRiI4G08U8Y0mFZ5YJfcl3XhJaqR8JfB6WBACTS7DFxNn+opRYAhh5OB3I6RcFEGzh3LfDYFXCuBgTgXIwZCzh+XTp6bT4A/4VABYlZ47LnSPjwb+HCJ9t9f4x0992NpN+yoxbaLrqY48mVm8tkUQ+4UPJfH+Qwh4PeFNw7F1L9zzdAHoDvty85vgTnAt+ZOgUYm967YNGHuyPQaquGZVwW6bfbZgFNi25c4Arledd+kbYnLh/SYpkdqnJpxBAd4EUAm+BNGgfBnwIuzQ8ggkcMGT9EI18psAhWNNg0KhMxxCp4Ea0rMu8yAnvwZzS/XQDZNctW2GJm5IQUlK8Sx+xp80lb6ctaqtR3oAXTXOW3NVlOiwmcAdw7ikyy0EsKGD+8R/f/UqAFI2RMlwwB4RZ0kl/1ua5jt1bZu9UTI7GYFdiEGUMsQSRQ3EpEw8wjGzdR4rslusWyqCTtFlBlqDZ3FteNVJwslADHgCGRokjDOqhrCIq+fviB56H1vosCVIEikKdnkLJAZKgpbrnCDZ641E6H2GFnSS/FOmpzEGMFNPLbWyVSP2aDYyIEAAA=") format("woff2")
}

i[class^="ib80ed68387364fc895b626ec5f09a7d7-"]:before, i[class*=" ib80ed68387364fc895b626ec5f09a7d7-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ib80ed68387364fc895b626ec5f09a7d7 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ib80ed68387364fc895b626ec5f09a7d7-icon:before {
  content: "\f101";
}
