.switch-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.switch-wrapper.disabled {
  cursor: not-allowed;
}

.switch-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  transition: all 0.3s;
}

.switch-wrapper .switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.switch-wrapper.disabled .switch::after {
  background-color: gray;
}

.switch-wrapper .checkbox:checked + .switch::after {
  left: 20px;
}
.switch-wrapper:not(.disabled) .checkbox:checked + .switch {
  background-color: #7983ff;
}
.switch-wrapper .checkbox {
  display: none;
}
