
@font-face {
  font-family: "ia9e54269292242608064a08d135ae510";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK0AAsAAAAAB0QAAAJnAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApsgQQBNgIkAwgLBgAEIAWGQgcuG48GyJ6aPIkFYI4NRzXkDACAeHha+9+5M/Ns9osn1y4KVbTS8BKgmpRASYQOmVI079Vc7j+rSuCrqwpQGRX6/WQv4ctc9gtK9OurHAvVfqjYUdVBo7ba5v+afIVHB3y3DefaRdunUSc2RgkOsAPXzwfeHIkwv9vrXdTPxiXJZObGc870kS0jUB3a0752dnMPUy+QK5jXpeXB9I0XaYwwLAZFgb0vdI3q8/EROlizBC7OOPuUtkrSyTTg1qPTCA5+R42yDWQ7URxhnc0zdoFC3DPNN3REJjqquWsZrOUb/I627Vqxqkrkv069h8As2HviNO5WmRMoVGYd2HBNRZ4oYzHdRPPm7eXXWqMSh6nrMB0zDxVlB68nEa/em+07q62xNJ7H01h0ynhpbn8sKS0xLdKVcYhzgLbVz99l7Oc/HnL8v9/YBvzabnA5APqr6gNG66hnaFGOSI84e7KuY/lXFS3AmD9vaVjaCuhZSlDG1oQlSy9BdjSeQV1sTFY7JsMbkz4hizIQLv1PMhmJGUEGHqvCAuwR2TET34RdYN/J6kHSqbGeHqS4Sb7nBJtOFTrj41kbVuChtRHZro/k29YtxeMCNRPb6xU+km5SVQnb4PZxThVpZIrE6FU0T7HDLIXUqhRnqmIqCiVqrTIK2UiY6y3TlNbcRqhKSKFNxOdxBDY5Terc61k2WAIenOERm8uH/O22WW6R2FgB6agEu3/5R0RrpJSKYDMioXNxFcuIGIkWH3klNJ7EHIxJgqQpJeHsexYpLKpQHeLarpchIWZIHMbaFjOlk6zOEIbk0aaKFCk0K09DVQEAAAA=") format("woff2")
}

i[class^="ia9e54269292242608064a08d135ae510-"]:before, i[class*=" ia9e54269292242608064a08d135ae510-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ia9e54269292242608064a08d135ae510 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ia9e54269292242608064a08d135ae510-icon:before {
  content: "\f101";
}
