
@font-face {
  font-family: "ie6fddbbe9c56491a9c3dc7715461a9f6";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKkAAsAAAAAB0QAAAJaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApsfwE2AiQDCAsGAAQgBYZCBy4bigYRFYwXsi8PeLJT8+QQJth9Xe3LfiGSSrCcFxwMFgf3fQTFWtmzgM8UBAeIEkklwkXoKE8sFFD5xKK+tc0YylQo1ooH/8vfaGGXHIXkG4AEElXKXETBBhwHnAY+0PmQeZ9frLcT1+QvfIFIAF1U0GhN3RhlkIlRNp7g+G8APHNrngN7VDAJ2UN6LBhjqJCvCDTW2irZ3R8+reeOun/PhAwPBz067szXL6oOj0yGcCUUyqm1kRybrUEtU+ak+knkqTTHHb+254rtv6Pm2I3CnpG7IEeKlSS3OK06j0rhXynVXP7MfNaKDn5Hp9PMYtU/TxQ4sgtMQbgn0SPe6jkJyFBjIRZnJLPUGXsXtDRLCKFeLth8bZw+1DbRfqKqf1ZZWkP3C5KX2Pz59pwrRte1meRngoc1m/9Xrd3w47FLhvP2oJrTFVjMzrcWgUVZfd4WTixUa7GNBh24+3zwDoZ5P+IuzSMgRZbKs6I+ACrXugUUyAOqscKj061Br4Uiq4WdPnYq0RMjshRoLJRnQK5RuZFYXgB5QTWUZxP3txYnvxkrslZrbE1ZFW2qWpNbU9dpWVTn6Kh64Xhvylkq+/y2H7pr5gPSKLF9YsADnRK0oP9wPWMmQkCOd+j5ENw2htPxgkaiSeTs4pi0N0WGd2+GKsSyNA21jFKl0Eqp9+mcZdRqqVKhuvmbVF7Q6LZRXFSN3cCPv53LjB1AKpJEAoPyiOUqAtnntT9weYwyQhBAHLYD/XiB0bvZcFGe+qIFMkRkcnhPnbg2I6szYkK6CLAuCEoOveym4cPzAA==") format("woff2")
}

i[class^="ie6fddbbe9c56491a9c3dc7715461a9f6-"]:before, i[class*=" ie6fddbbe9c56491a9c3dc7715461a9f6-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ie6fddbbe9c56491a9c3dc7715461a9f6 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ie6fddbbe9c56491a9c3dc7715461a9f6-icon:before {
  content: "\f101";
}
