
@font-face {
  font-family: "id92dd65b22cd4a62996cb3b8e0f579db";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKcAAsAAAAABzQAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApcbgE2AiQDCAsGAAQgBYZCBy4beQbIHpIkUUJIEMMxAwAA4uH5Y++5v4tyGWBNlYBrgm880+lAkt//rbUPnqySBrMT84RV3uiuz765f0hpJAiVkkRDwh3snKrxLpeLZ+ia/AX0INEA9uui7WhVFElRGEUcyU/TgSR482YDGgjNYHnlV828ifsIVOyqmT/uTa5g7Z1iCFsWuZNBkR3vjkVhVfvl5Gi6JBQ65JbiSR7b0kAlWbFgQRdk5El1N+/qsSug8R1ehROg4HQtNVOaRBab5/HEXWf8woJQ+IJKfNE8OFd28B0pRarT/vEIosDNrIEhVb2TOtC8aioDr6VC2kezVhPDvdOXvMLqSUhMcO2I2PbGsdQ2rb5mm4V0YXMWX6MBkJLxH3+k+JJwbtcr/6WqE8Dnh/+JBgOgdCpfgCgj1UCXOa41Q12i0jq8laHihUhc0PI3MB7m7g+K5gpDNrMcUSiHDdm8qle2YM6MrdjwLF/V9SkrcmXh0D9hMxoxYLMOYw/KYYrNG8SrodCFvbEVDxn47aqWMzeOKKaEyGVZKsVFhuZSxWKOszQryITK5ouCXUhr5lOD1Nf7ajfSTB0dkmQsgV2iL0NpKEpB2COZ3lkpREWU0QHp6RCl72sSGe1KjjEbMSrF44ofPMZ1AA6hKEUQcrKYlBROyKByUoqKcjgmjSmQEpSsPHnfAnNBssz4KLNWk2d/1zckY8qhhYikmMSaUN8UriumkCTWMY+IqTsW2QUhhVAMLUD09leCUZ9PK1PUvc0lcSjGnhGNlMS9Tgr1xvBVBpjn2jPBi7NyL1yHAAA=") format("woff2")
}

i[class^="id92dd65b22cd4a62996cb3b8e0f579db-"]:before, i[class*=" id92dd65b22cd4a62996cb3b8e0f579db-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: id92dd65b22cd4a62996cb3b8e0f579db !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id92dd65b22cd4a62996cb3b8e0f579db-icon:before {
  content: "\f101";
}
