
@font-face {
  font-family: "i430fee4130e14f0caa17c990bd411111";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAJ8AAsAAAAABwwAAAIvAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAo0UAE2AiQDCAsGAAQgBYZCBy4bWwYRFYwHsi8O7GafrWBL8mK0I8etieIqHH/v4+H5OX7nbu+bSRTFTBOkCCUSkklINEoy34NjblEiYWABR+Hpqtti8zsXjqFoN0j/cRgFNXOuN6Ui1Iicy7VfGmSAAfA/5+IV0IA/CK6ugyqpghqjBBNo7zAi8YSS4WyzaYF9TyJGjD1siMiQ2D4CleatybbC3qNq79KD+zolaA56aNzlG5eUXxZJ4kC5UGoMmgkrwYI1VLeXT0payZTkEHHw+rarNj6FpjmFcqfyjJD+OaaRiKOmZ79cCJmr9CSD1AoNPkVRPGpRVSHkr0NwNehmW/Dpprbqz2BbLdWgNvRYoqbt0dxV5nZ7qLgrc9f9042rc9fcBoq/xW+nnRDpy5T0frpQt/KtvMop+PjkKTbGZ6Z8rSnwyJ2aIEWJAEnGSjHk19TmKtVOAeZ67yeNYeCH5jIDnctf8TgjidgFJarchlIDHkKlKY8HV2nySi5ShbDZB4JMbbRCbnMMI4m4DiVa47lSi3gOlY5nrlBlNEOuUBsI1GrYRWWezIXn0BCmVvRuwt0zH57MPj9t4TiDrKQFvmcMrDj4gqH46T2u/JclHrJQl/XCPAvdQyL0lZ7r2kYRWjOmKYsKtYFArcOuu6jMk7nwHBrCeGj93RPunvnIynF4koXjDLKSFspxpn7guAQOvmAofnqPK/9lieIPWaiv578wz0LX5ovQV3oCrm0ULUavMc2UKhKQZXHG5tItLatSAAAA") format("woff2")
}

i[class^="i430fee4130e14f0caa17c990bd411111-"]:before, i[class*=" i430fee4130e14f0caa17c990bd411111-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i430fee4130e14f0caa17c990bd411111 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i430fee4130e14f0caa17c990bd411111-icon:before {
  content: "\f101";
}
