
@font-face {
  font-family: "i2ff96f2b4d0e43b4a9c2b2b80abfa76e";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK0AAsAAAAAB1AAAAJpAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAp4gQgBNgIkAwgLBgAEIAWGQgcuG5MGyA4lBQCFQEgAAEAET2v85u3tV5VsWIh4CRBVMo2SIAUqoWi+e3W/w3wtTAGfvphP2Eoqd62nL81HpgW22YeJgXPyCmjACaD1DIqkN0ViYxTghTos7XyhajvC36ZpUE+BLiJG7HAgIqNDto1ArWUtq+ejxT0cPtZVBCfWUWWw/eOxa+uwXW2yDN5qoVKY1BlvVaCPBuR18GYrakgqChR0dXdoQed3cIwxoDDuxSLdnQXmq0HcEp0X1kRB19Q6142Cs/yD31GWUytOVYny15FvPegHJiZ2cKFGJZDFXj0FTJtWo6I556J+qO7FJ558rK19/jni6ZcOe7GdnZPte12fhEZdXR8vOtYuVltSN3Crb5t2oZXXx3Prnf3jlZRar6vimcQxQFma//2v7P/6YT8d7f+vrjMG+Pl1eIyczgCqz9UHGq35mWUFsSid13mTKRuSsJZNlGho9mctDyPBGKqMbGFxS28AyMgUq1DnIVZpxBKrNed9cp02nwqRa4RT/wlLGqMTK5zGOJCRu1iFzvgmrJSQ71itO8kydSbTHTdHVC1RzihYGSzkjYJeNXMGv1wloxukl0t4i/Yy0KUmvtdTe0SZuCJi2VRGt48xRih1hRYz3ljybOeUIkZShGwkIoVBIFgshYemSjlKxbV0mqQdpEwRgiuHkKoSkmMosGSggvzDqasyOz0WqcjQGYiurATdptq2LQV00ivJ5t/6EZISLiHCZKVkPIGxOPKl6hRkDTa8YRLPbDmKSq0ZIgkhZvQ9rRQGLBRNHMutPMikpDgGe6wmnTORVpdiuhSwihQpcnghPzBFBAA=") format("woff2")
}

i[class^="i2ff96f2b4d0e43b4a9c2b2b80abfa76e-"]:before, i[class*=" i2ff96f2b4d0e43b4a9c2b2b80abfa76e-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i2ff96f2b4d0e43b4a9c2b2b80abfa76e !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i2ff96f2b4d0e43b4a9c2b2b80abfa76e-icon:before {
  content: "\f101";
}
