
@font-face {
  font-family: "i0977647302024f9197f24d4a4e156447";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALUAAsAAAAAB3wAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBJIElATYCJAMICwYABCAFhkIHLhuwBsiOwnGvxCuG9v8jgmI/9nuoSxVPDA0PldDFQ5MSSIlQ+d/zu3fuvQGgOjlVwAGxLl1aTl+aPxB2z5OTLNQmLsf/3yT4BaDtsXwKdj7n+QJNsIujwCCN2EXcRy/5GYEcQ9a1r+2f3sLwlS8rmNeJxoM8Na7S2IdeVS6tJz1kCRkt13rjRjomqEB2vKBJh2KQIp2rTxlbJ3sRbP4OVmYNyLC+5WZIRyr6jqOMvVb9hg7B36dDjuXv1AKOlRr8jiQJ6Yf94xFEBkrOA3U8/ZkYPvNRQynwWBNNAtOTbiMmD18i5+mpomLmrbJyIFdnB/SXPTyUlU3Xs6Zh6vGxvHyyaO2X+9zLneLpwM2bE21ym5bbXl+Kh7EjO2/zYjB7CcOx99eWZd3rWWqmvn9ouzIzW6gfL0Vd2fmbF7CJnIf27PMrT+9N38eFc/+zcq0Bvq6P5mM6ZgRZpzEESJkDkCQO/xeLGILwABtNMXkb3BxmJhGMRf56RkPzvRkzNefc1FS4wANpxCM4Xa4LOEOzFpyj1+v1XKU+pYq0bGHFPwenKIgKONVKtAFpxBM4XUW8cTPaiJ9wjoMUB3N1pByk2pLrOpZragY7aLElfcllhhVZvkW6zU/Pcq8pbhW+QJrrfLd7Ek3KK9QVDXvFAVUkfEkRBs/YPMSGlAyZ4CXu80pSUXCsBc8olEoiZb2sqkx8QAl5CSnNEpfLYXGZNIYfb2GW6D18Vl4fsfgsRGejNPVzXyOxloJPLNXmyb/1PSI0UlwF6RTaksABv1oW75NI9HjgGWo8iBkkiUGMwJXQ/vY0kFswP4fq9nUZEpIUyQRvbZkq9GKoXhEu0kc7kqSEmJsq7TzkFQAAAA==") format("woff2")
}

i[class^="i0977647302024f9197f24d4a4e156447-"]:before, i[class*=" i0977647302024f9197f24d4a4e156447-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i0977647302024f9197f24d4a4e156447 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i0977647302024f9197f24d4a4e156447-icon:before {
  content: "\f101";
}
