.background {
  width: 100%;
  height: 100%;
  position: relative;

  background-size: cover;
}

.background .image {
  width: 100%;
  height: 100%;

  /*
  * @see https://alligator.io/css/cropping-images-object-fit/
  */
  object-fit: cover;
}
