
@font-face {
  font-family: "i2e802bd6aef147e0946e26ae478e2eae";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAAB1gAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBAIEKATYCJAMICwYABCAFhkIHLhuVBsgekiRFFEhRBFwUAQAghGAszZWIHUkA9mX5NYZQqHabkVNiLBzq97/m8t+xupKr2pZVqMBgG3qb481sfkmerSs7ByhUmw42Vtr/XI7vth/wB/C73bY1Jo0FdAnGYbxobU6wF8UBQA/YXcs+RSDHkHnpyfXdUyqde9ykblnaZBBWxnkl8qjIBqVJg2yWkJGzaCzupWPOEVLkaoelmetRivRUWs3q4VpIi79DL5JAcuwQAVvTkYq++ZhjMze5LCMYJiMnmdWC5lUZ/I5k0jaLuf55IoNWngfqQNgn0ZR2NZMCuzVVD9Lbqp7oaWxVvFZqmlc9lntV/lJurFnm6bmi4+61oqKVU/FadqnsuaysP/7s2pCZmdbczPeXtv2Kza58dup4+0q6N7ojPltEZ2pRUZiyLSJnlbpwJMVu9Pj2s/KibfZ/Vq4E4svp/wNXqecmWTN2BXXsEknN6vIOyWBKKRFQnaJnxSxwrEeS5i7yV6IOzXvjztQcalN94zAgacQWpMt16s3QPId0jl4vsDhXqU8ZkZYtjPsnIEVBVECq8ehH0ggJ6SrikzYjj3iDHNsptE+ujpTtioNJy/HDcQ/SHp2ANTU6Dkf+ttGJSTjwcIzosu7pOr0Vvts5dFJRTWEbVr1XbKAJ7TFC4d+K5CpymKWQWjXEumoy6nUlYq2qCNgoM8fTpinz7mIEqkEVDphkcfhC4zwg2UZNANE+ZdQ4cPJ50E/GMXzuYxC5VOfRfQ249W99DrREhdIk2AxWn/YNwGeD5mEQEny3hMSViIMxSZA0pUFYHz/OoK4nFSHOn1cFAWYot4jHppk4TtZ1GoJehtL/S2eSTonGVGkngWoSAQAA") format("woff2")
}

i[class^="i2e802bd6aef147e0946e26ae478e2eae-"]:before, i[class*=" i2e802bd6aef147e0946e26ae478e2eae-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i2e802bd6aef147e0946e26ae478e2eae !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i2e802bd6aef147e0946e26ae478e2eae-icon:before {
  content: "\f101";
}
