
@font-face {
  font-family: "i50bae6c9d10946f89fd45a3211495df5";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK8AAsAAAAAB1QAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAp8gQwBNgIkAwgLBgAEIAWGQgcuG5cGERWMb7Ifh3FMsn1YkzfRHo19D/6R/V7PfVRGkgAQ39RNAUkkOYmouq+WCVM1kssLgNOpBcEDyN5Z4i3vD+5xl2xHzrVSJ67JX4QJoF0UlktriwZKgQ1409dFgRX4bsADGvAQ9qbLPHp2KFEjRoeJiAwJj6BzEOBLMY0Y7Z394wRuzB5sEYsFTQtGtTZWl2fx3mwspVp4IxwhU+gsNqhdi0BXf/k/YjjGwDahuuGljgWaf4mXyQUKjJmbAWzABPLzuBoXvUHMtZCPiW8rWKRCrmrBL7nu4aKsfx5yoEp/AOKBronZ2VLLBkBZK8kBCl3PAsoJ0tGDTPk+zfz0JO9KlF5PXfV889WZLycJ31t0KeL+o+5b5b637gGVYVs2Rs/pncqAqS6y1OWktnjSSfec1znqyqKrK6HyzmmPYW+FVdIMuC4Gxjfbjv9H69vTQfX/vP3kAvyoLfrZeZsP3hgisFhyiY1oAc1QbN2Gc94s+nIMLhQE806ZFCnlBF6kDNG81GwALKQHtfFjDXVI4RD1JY/L2X6E8RITWT6IVk4W1CBQkahJq9IBC1lCbSJ1T3Qk5Bnqy6TBd+dHpsH9X7yKAds0ZK0G11I/UHY+WKO1G3wm/8LpvYdq6e3x3f6x3ks5QQtlu8UTT6yBMUP8wv2ZDDMB1XLAo5yM+17gqmXFxGJmvkYpCX+yRSpHs3gVA7ZpyFoNrqV+oOx8sEZrN/hM/oXTew81asDuz/of672UE7RQkcBTPmPJgTGfHr9wfybDTEC1HPCYTxnFncXS5Etet2JiMTty1yhxHFk9kULYn3wBbMgwxM0m1moqZ9MAAA==") format("woff2")
}

i[class^="i50bae6c9d10946f89fd45a3211495df5-"]:before, i[class*=" i50bae6c9d10946f89fd45a3211495df5-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i50bae6c9d10946f89fd45a3211495df5 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i50bae6c9d10946f89fd45a3211495df5-icon:before {
  content: "\f101";
}
