.Scene {
  width: 100%;
  height: 100%;

  text-align: center;

  /* Note: position: absolute seems to fix any "pops" between scenes when run
  in sequence w/ no overlap */
  position: absolute;
  top: 0;
  left: 0;
}
