
@font-face {
  font-family: "icbcd36e9fe5f407893ca19694e7599fb";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAACKgAAAKDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqDUIMDATYCJAMICwYABCAFhkIHLhuOB8gekiSBz7TwCD4EGAAQwcO9eu/vrEnpXqDdNCZgt0BFCpKqViRAOZzLG7GfysaqwPkhKrSF9FL+PKCRQycBLf/fzdug83kL/2keSBnfaWuCRl5G638ux7eeJ3BLNLU96XcNXHOapdPKApmCcS8KKPTIe4BnmFATry6fI1B3bF3v+f7pBUx++40yTOsnq8EYH99J5MOwb5Lt4YVKV2xJ3YpRjhPlQK1ds6pPHyRyqCxJd697IWzOggpcAYXrWwIu5k2x/ziWeNoKN/rYs69PPfH0WwWPFR/MYj6vRQ/7xyOIgsQ2wQRFn0lcSj7qKQnI0Aem+CMiG9+vyXHx89scYa9X2Wx+rfdwRPW6VqqZMG2frdSF/cf9Zv2QnJXDlyOl66bPCVBwTzZ3jlyqfZ6AxsO0Ul4nCAmUPsDx8DD/sf83yr4G4i2Np2vmTq3+VcMV4D/01ea4cQhU38oaWCxu6jE9REyaG1sgMdXfpqirnTlxXZ+nLoeVv4IrrYyKtNcsI5IRR2Su4ZMsrGiSdXseDjcMvEAqsppw6h/IRDvGZOo05pGM4GRuHKei2EY8knUvCXx3DZtJlbCAhbqFlKPJDcV2qM58lVrUQNuklAdnGDVzv2apbeezXWGtnogyUSXF9ogDLGPNb2BIgi6ptyKt0eCE10RB9kW5gXkuSKUmUmQNKW40KiVZ5nwhiYkCEkyACeksiOKQiTMobA5Kx/hUlIUCgogpxFcdOIMiTTlf7VINPvmzvoJq6hJCGaGSKJdEDlTly7J9DSjcFOgi6loimobu4giuRigQ+7cXGhU5KUSiqmx3pRBjkMQnuCpKZG3HrSBhF5mhl+iT4PRU9sFEGQAA") format("woff2")
}

i[class^="icbcd36e9fe5f407893ca19694e7599fb-"]:before, i[class*=" icbcd36e9fe5f407893ca19694e7599fb-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: icbcd36e9fe5f407893ca19694e7599fb !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icbcd36e9fe5f407893ca19694e7599fb-icon:before {
  content: "\f101";
}
