
@font-face {
  font-family: "ibcd0b21d7ccf498b89d8ce646138a3ec";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALEAAsAAAAAB0gAAAJ4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApwfwE2AiQDCAsGAAQgBYZCBy4bigbIHpIkAQXSNCAggwEAEdSP/fbeF8xkOp5FQ8RLgKgWItMphdApRfOftM2ATzWbQk0wsfUl8oKEe0Jl2bluo+gwtSTZ5/+afAV0wAmgd8uk7dOqKJKiKBpwQmER/TwFRjiiqcAuYo9+0ikCpaalmVfKzSHYOJH4HJywQnNQBsaJpkjAqZtkZUVfsZDvGVcdd3KocwcoTjt0sKgiyQmJEbK+V8Ig+x0UZw6QM78VT2Jddwbj19HHdq9rlUVouEWpy6oXuFZg8B2FQqwXV9UI7a+DfzloF7lv4oX8T/VPIJu39gMGFt2F1FbSdVrfvH5+fn1tatpb11+URtvr2UvpRb3D17bT50u/58XTR8R5qlvPDnZD236XsEd6i+xsqjg2DVxda6Bo2VF0BGUBBRTo/vWNPvnLmbCZ/C8uMwfwdV0q5AGg+JzGgKPXNVLCBIokakVN3t9yJJSSlQKAan9LG0PPi4AiPaU4k8uvRSiL1YicMkdEXo8VUWrM6/gydT5BRmRLhCX/ApFURiORsRTnUBajRE5jvIvzfdgbUWo3gd+uzGDa1WSEvbLfhyMI0WAsKkdjOIpIOBj2BaJSgKA+UVZTyeCkNvhtY2IsNTaHPreX94gKmRND4gRD+QUuHxU/5xRSg81gmc05mU4ZXBhMJ4i7Vc4XcY+Hyh/jRmwGNDIE85L5+WARCEIFxUTJomKwKIQICwrzCYiSBBBIX2hvxcqUxNgqw4vnGSMMSxpmDvJxOxneEqpI59syJRyBu8leQEuPFGcZjqMgysDMQOXjWaZ4Si4GWvRL9c1cnJu6wLEQ55HzUa7BDW1ShRlUKeTIjOwhYnMAAAAA") format("woff2")
}

i[class^="ibcd0b21d7ccf498b89d8ce646138a3ec-"]:before, i[class*=" ibcd0b21d7ccf498b89d8ce646138a3ec-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ibcd0b21d7ccf498b89d8ce646138a3ec !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ibcd0b21d7ccf498b89d8ce646138a3ec-icon:before {
  content: "\f101";
}
