
@font-face {
  font-family: "i4d8c5e15866b4a5987ec9303aeb514b5";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALYAAsAAAAAB3AAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBGIEZATYCJAMICwYABCAFhkIHLhukBhEVjF2yvyEah9cX2KBConpal7XQPdkHc/tiKw4H8C4Q3w8RMApUAwAAAAARBGu02bM30SimUEUkVRqpioZE+5I+JCZv7XvwtdH+CihPPEx85wkmkmJcDih4doLTHJ0GkCE+1h1fg516AoPQUz70//cEXd+gAFhvsfHv3IVCF/QfJtowdWtBqQrF9zm35zb+klJImLgmf+HTAycAV21eWRiFI0tNLNAJ7sajAQ2ENkwv8PNAPCJQbtaKZOs4ulL98vz4WruMWg7S7Hh5PbmnlLtkMhgrFYqaQ71xA4pRkygN13RL1ZLIQWuVd/Z4+6G1m9ApYA25dxNQao6UeSIZcVUbOpEKhqXKQ5l+9pUd3MS/Z3b7xyOIAqjMStAJmXtiLXern0xAhlJMY2ZUHqU544z6C8kSnPVlz7akDito1BjeRgkjEUDjnCto0my8GbrS2dm9VnNOUk11bEgiOuUbyK8+GA0i8otC/IFMrFqztT1t13bH0leqm1aur5DpZ6H0AJZgCm1NjgjKkLQokbNNK62rKleO/9hS6+/YxdB3VZYSfRhIkVEpY9o+xHMVngMF8gkvN+Hz4QoNfkBkEoQN/1I8UR1eTCEag1IGkcd4rjkeqYDIV7zc7cRvV2E4cfa1nePoVhWF2VrtsqTlJwJSuA6DdQ3pPaz06azx1TrkWfkidNDvGRUXxCoC2U/vS/XXSFv4pMKX4jiYrvAGr/lRvWfvN74yH3yatZ3j6FYVhdnA/dplSctPBKRwHYbwfTek97AyV49Hf9cd8qx8ETqYE6jKNS/dKsL99tP7Uv010hY+qawfUBw6xHTrlW2VkOZnROCePR62+5ryMcsUGWVMAhensmeeL2MAAAA=") format("woff2")
}

i[class^="i4d8c5e15866b4a5987ec9303aeb514b5-"]:before, i[class*=" i4d8c5e15866b4a5987ec9303aeb514b5-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i4d8c5e15866b4a5987ec9303aeb514b5 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i4d8c5e15866b4a5987ec9303aeb514b5-icon:before {
  content: "\f101";
}
