.file-button {
  margin: 4px;
  width: 130px;
  height: 150px;

  border-bottom: 2px transparent solid !important;
}

.file-button.open {
  border-bottom: 2px red solid !important;
}

.file-button:hover {
  border-bottom: 2px orange solid !important;
}
