/*
  @see https://codepen.io/anthonyLukes/pen/DLBeE
*/

.layout {
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .header {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.layout .content {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden; /* This is actually required to work with optional <Scrollable /> child */

  /**
  * This fixes an issue where content would appear invisible on iOS
  * Fix: 100% height doesn't work within a flex item in a flex-item child (Chrome / Safari)
  * @see https://github.com/philipwalton/flexbugs/issues/197#issuecomment-378908438 
  */
  height: 0px;
}

.layout .footer {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}
