/* Sets up our marquee, and inner content */
.marquee {
  overflow: hidden;
  position: relative;
  padding-left: 100%;
  /* Some browsers may require -webkit-animation */
  animation: reduce 10s linear infinite;

  /** May improve energy usage(?) */
  transform: translateZ(0);
  transform: rotateZ(360deg);
}

.marquee__inner {
  white-space: nowrap;
  display: inline-block;
  /* Some browsers may require -webkit-animation */
  animation: scroll 10s linear infinite;

  /** May improve energy usage(?) */
  transform: translateZ(0);
  transform: rotateZ(360deg);
}

/* Creates two white-to-transparent gradients at the ends of the marquee */
.marquee::before,
.marquee::after {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 50px;
  height: 100%;
  content: "";
  display: block;
}

.marquee::after {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

/* Pauses the animations when we hover the marquee */
/*.marquee:hover,
.marquee:hover .marquee__inner {*/
/* Some browsers may require -webkit-animation-play-state */
/*
  animation-play-state: paused;
}*/

/* Some browsers may require @-webkit-keyframes */
@keyframes reduce {
  to {
    padding-left: 0;

    /** May improve energy usage(?) */
    transform: translateZ(0);
    transform: rotateZ(360deg);
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);

    /** May improve energy usage(?) */
    transform: translateZ(0);
    transform: rotateZ(360deg);
  }
}
