
@font-face {
  font-family: "i0d83fe90126e48738d7d898cf9e6f33f";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAAB3AAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBGIEcATYCJAMICwYABCAFhkIHLhunBsgeIXMiiUxKn2fWkjQe/n8tvW8omz8hYAekS+SIjGgdoOuJcLWixqDe/53LdECYER0Qq5Et/rSce70cKTMnAd3cipBy4pr63/T0wDUA7qC/p0WkNkbRDEYReT6h5AmMabbZOgX7OsbYYxBYiUj42KNjBJItGSMXldYjWngjMgftGKPtwYqPN7oqoqnTolAg0BAqY9RSfDeOHRlI23z4qjGDUKbMadK1Z2UF5X5zLcIDSGNYCZRdIsdaHXPcMj1XjAohRyXPmBmoVnzwm2s2h1lU/fNERWPbwBiEexJ18VZXyUCBCnuQA0KL3apG3tXWUt3luKSOtLiC/BH1QN+st2euzk8/7jc3GrAGrHObdzNvph5KUau3T8bX+qJ3B2uh4FoEjZeXl33ebCYrU1m9f1RSSYn0Sr1+qT8+PoyE2sndzPBwya8JDh/+cfxi6n+j9gDi1zvaNLv2h/BM6DG7NipwVETqa75AZs+ElZgkNMF3+Y22hult8S2mGczRS3kh6jqoUu0VWKFdKln1MrrW60MuilbhzP+iMh0xIMtBxKm8AEqo0kD8lFdAX6nkToZ+u9pCdkf3KbEggbjPH4hAKBYNxpSoEovHZBKHCAkGyT2oXUt0PbndvtozuB2dOtjv8fnuUQUHXJGBgqUh7vTUAGMEE5fauEIdBpZFcdulBsjMozHWTni9hG/ikamNdD6KmCACxPn4BUSAkJjo4YlRRJ8Hx8XIiDgQQQQDn/seUHVZRG5WgcO9ngFXh45yYOm0hy8TrCqdXEERA5TDJUNYR48qgGEIjHBRNqzyvYsBVvNQWNvuZgAyxkMLuNoSvFSOeDkPOaWOEarLgtNzxUuZOggB") format("woff2")
}

i[class^="i0d83fe90126e48738d7d898cf9e6f33f-"]:before, i[class*=" i0d83fe90126e48738d7d898cf9e6f33f-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i0d83fe90126e48738d7d898cf9e6f33f !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i0d83fe90126e48738d7d898cf9e6f33f-icon:before {
  content: "\f101";
}
