
@font-face {
  font-family: "i0a84d2093553498a8405c5c50f8e6196";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALQAAsAAAAAB0AAAAKFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApodgE2AiQDCAsGAAQgBYZCBy4bgQYRFYwTsj9BNmQDrb9IOnZXHvWeGuydXigH58PHSKAFmZ4fTEEEbAYAAAAABPFxb+67VitIs+t02prQWaOkg2Y8IYtFKECfB+Levb8SXJPDLhoTA1mbijTDMc3Lgoc7xzh4mOgWXAQ2vwMuKmB6jKWMqYw7XMI4YOH8rSM+KOttt0L+VNhu5n6h0AWdsaO5IwCWtnWQ0kLiTVpDdmLjxCauyV9AD5wA1osIigpsihYc4N84mvp8QrvheDiHLbKL2JLPpHMQYNLQErbTeMJ2aOeTkBjMCtp8Oez1lMH20NCoCQOhI4gH8gQQlcbmy5d7hMxQ0UZA0WzVWej8YQ1lUKuuxWtsGFWDynnMMiFGJtTEQiOmiEaKc+UL/inPzchZ/zwkBeRaAERU7p34VHjVuArwWnNJQHJWMUjWi0lh0vv8+VlJu2kz57O7j7R8mPoN88/lCbZP6ev2xjmb1OofeWpUHvrMUo8CBbr+1ycNZvWfRc1lpgz8fSmlYm4YTucSiJipM/oEQKNSjXqtidvJTegHBdwOP8a0SL6DWy/ZytW1uqoCGmSAaZmdMZ2kC2ZSdl1u5vYEEhsRPb8KpmILfJhaLygCGmSFafnyJdeRkBtmMg9tZyZz6762bxh3EGKmIH9oB1b8NLDvfKPEgqLYNYrUR323ijEp8oAOxJ6R0WNcMx7QB9wq7i9zsEgOEvmM1hKcSBr3vKycz7/3RnrAouSYumpfwbgDgjBGAlF4cgwwTX9rYF/zDYmooCh2jWs1efZ3XTEmRR4gB9YEstKvS10zHmJ9gFtFsM/LHFgkB9L+rKDcYoTAIS/SuOfFmhE6/7zWyUSdC11lhJmBrpNePlRKnjEA") format("woff2")
}

i[class^="i0a84d2093553498a8405c5c50f8e6196-"]:before, i[class*=" i0a84d2093553498a8405c5c50f8e6196-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i0a84d2093553498a8405c5c50f8e6196 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i0a84d2093553498a8405c5c50f8e6196-icon:before {
  content: "\f101";
}
