.right-sidebar {
  background-color: rgba(41, 41, 41, 0.9);

  font-size: 14px;

  /**
   * Note: This width is defined in AppContent.module.css.
   * This is because the width is needed there in order to determine the app
   * layout size when the sidebar is displayed inline instead of overlaid.
   */
}

.right-sidebar.inactive {
  display: none;
}
