
@font-face {
  font-family: "iabb6d30cbb934d8f996cfc1c23ed7004";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKcAAsAAAAABzAAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApYaQE2AiQDCAsGAAQgBYZCBy4bdAbInge285RgaBrG2+SMfTz8//2+fW5NRYMlRwJOA+IsH/1A7//m9G+skG9jFR4AKITDJKXr0utAgZ4tPl9jBySrllaQqKVY///fT/1JeAH81yr87S6Tuj0BJ5RUQQU6oZ0dHw1oILRFdsHa4R4RGHRuXunt+u4B1PxiFYMO5arxYE2NX9/FUB16FMVO9AvtZv58BBWr+kCojC+fU2qYpGZVxsP7GoPFXtRlzoHigucqqMg4BhaKl1typ8yOHCszmEXKbQK5UoNedF0vS/vHI4imSh4Gy7b8T0qr+tXkBMo8uQAsYh1HGhk+k0o9p9Ov2exLJtPd1FJTrVRzftNTVeGs5qxQ0/uxnc83CJcq3wUTq4/8F2/vr2tn9w85B/w1FDOjDEPQL5AtgCQ5B11Ho6pSHNM5DJOFUyhhsHbQOTjuD3c0bKiOfTZWXZ5NozZd+C2ohnxDsyEJg45kdg+Z8glZlAHh2r8FyWjMQnYdg3ThBVSzsa7d8W8w6C3BbzdkN/ExIePMNighU7bDJsXU1DgV1KSWzdmEYTh73E1GcABp7vHdjniQ8GUMmZoBe8YGj/EAK84QeUSJO9dSSiARyChalzHFIxGJ4oEMcao0T6n4tK4L90KNyij4MIIYx9gMdDd/is3BTBKmrOvGUQJloiw2jplgMDj2rOl2JUVgAa02Y3/XR7hAgk+KQUwagya9YYjRJZi6FezriEdIwh2XRVEERAhIUduwzl8ChiIiZGCI3y8L4ShF42GE4qbpdS8BJRpKpY9SlTWFm5uVLypjAAA=") format("woff2")
}

i[class^="iabb6d30cbb934d8f996cfc1c23ed7004-"]:before, i[class*=" iabb6d30cbb934d8f996cfc1c23ed7004-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: iabb6d30cbb934d8f996cfc1c23ed7004 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iabb6d30cbb934d8f996cfc1c23ed7004-icon:before {
  content: "\f101";
}
