
@font-face {
  font-family: "idf26ddf9520948468312ea30e7ff3b4c";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALoAAsAAAAAB6QAAAKaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBTIFSATYCJAMICwYABCAFhkIHLhvdBhEVlClkPxJsWwvrU2+RJTmpSfomeJ7WzPdnZnGSAyYNSEVWrd/YAu9GyIIwdYBCnatRgCprmxGUqlB3jB0P/pe/0cIuOQrJB8D095N/AX2wf5cAmMug7emSKrEpGnBiUQk6od2AB7QbCEwFdhF7MB5BgJABRlHTs8vb5N04e/sWVRjQKpCGy42rl8/iy2ZMS6TgI7g1yxrlMQ7QyTiQCl/eg6EcFI4GUeuXZi4w/l0ohROAz8m5RI431XqOUDAg27XeVTQi4ZrQa2iCfYULfJdczhd2+8cDAXFBaAqAGla4J9GVbjVUAWDi9hVgbdTmoILpvSi+l80kd5/3RqWlcQxRGDp+ZWXl1kpVLFgL4V1hJ0kmW16W3C0piePo+d0kt58tf/6cyii29l5WqjNJesF7nU+G7zGIgiadlk6ASEo1mSLliyUumJDWTQ3t4+F4aUGTM+S43ZpVaeaN06GndTcT2+G8YBzIoWjyH53z+t5/czp/+LdvOQHw7fhXKO8HwD+5XaCPlYmWMgJ0ijVLTrtScisgJAfkAAr4OrZZaLxj4NGYKnWs7WAhgy2QDpZrpEsjd8iQbpLllmI+oBETIExyzJCKPCkjNZPSAhnsEulQJi+Vbh32lgzZVXx3ljbl+82essp7asssaYumqJo8zdDkCdZEuS3cC8d7M6FPeo3v9sNwzXxAqpJ+zxjwwGAEPdg/XM+YiRBQ4B16PgS3jeEMvKATNYmcndbEz1WO92j2lFU+9m3LLAl9i6ao/F92nmZo8gRrotwW7oXjvZkwV5ZHf9Y/DNfMB6QqmRMa1Me8bCPou9k/XM/I7CNCQIF36Nfneyo3UrKhPuv7LehETSPcZ6f5QtTXptwsNcTAEAsfrzFXHR9RBAAA") format("woff2")
}

i[class^="idf26ddf9520948468312ea30e7ff3b4c-"]:before, i[class*=" idf26ddf9520948468312ea30e7ff3b4c-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: idf26ddf9520948468312ea30e7ff3b4c !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.idf26ddf9520948468312ea30e7ff3b4c-icon:before {
  content: "\f101";
}
