
@font-face {
  font-family: "iaf8e4bf1ff1645058bd95f88c360fa1e";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALUAAsAAAAAB2AAAAKIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBCIEcATYCJAMICwYABCAFhkIHLhunBsiemjyJKmBzfDRmBAYUDBAP/79Gu29s9/xZE2km0fDGoeElaCLhIdPppESoGtL875r+EsqRypuaKgG7HSVHbdN3TQeS1KbbOc1CrQUguup1AGCo9YnL8S98wW9gjntsnxRwYHthgSYYd53nlLk1T6E+PmYiUn5acIwREj56RiDZUmC+aPRm4H/Jsy1csZLhYCTGS1XmwblbFQoEW4VKOTYeH6DEnDiQ+oQ5Fr0gU4bqknLrcV2C0n+lyCVQuXpzMZTIsTaPPO6p2muW6F1jkbLXagbMlRj81zRNLmb980QFEt8GxkBdE63Sl0qagYLx7AC7pgvIR3TeuOPp9O39ly+kls6rY12/f8RN+FJfUno7XeyPbD4aTCe5b31YJnvrtX63qpLVfM1cVW/Tg7CeTKIEvwPLHp25S+y6b3NC7Pv6pvvK7+p323mws4ZLwC/dj0jl9KD1C7qAKbIHmkb2VzGEFvl7XDCzw6IlJwkN9F3+rINheln6FtMJyJEbdrHx28BKtedAhRywZNXpeK3XJ+SicEE48z+wTEecsXKgMccugDzGSgPxnV0B+YklDzKbagvZA5UnKRwTSJgcPy0Ri4fiKUFKx0kqJUYTIcKH8QTLhzVvMPU9vtsCG3uVblE4EOJe0cRbbPAMS0h4RPs7OcIYQcSgG9SgW4bXa4p2BtWwyAIKY7tMMEi0uwMi3YCKR6RgMQIijLR7EmLiQuJSBJK0ODM9RRSVEELw4VNjE5jsYI1neDXZvG0BM+ypqC0URh0Q8gSa3K0vMY/BpMcFj5C9O7IIhiEQwkBtII33KSR7Xdg0c3f6PA0mYgIUg3snI5g6EVYbILp0YSaiLFKmBYpnIt0CAA==") format("woff2")
}

i[class^="iaf8e4bf1ff1645058bd95f88c360fa1e-"]:before, i[class*=" iaf8e4bf1ff1645058bd95f88c360fa1e-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: iaf8e4bf1ff1645058bd95f88c360fa1e !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iaf8e4bf1ff1645058bd95f88c360fa1e-icon:before {
  content: "\f101";
}
