.labeled-led {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 4px;
}

.labeled-led .led-wrap {
  text-align: center;
}

.labeled-led .label-wrap {
  text-align: left;
  font-size: 0.8rem;
}
