
@font-face {
  font-family: "i90a767179e4e47b2b3a836adc8aaec79";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALcAAsAAAAAB4wAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBNIE9ATYCJAMICwYABCAFhkIHLhvIBhEVlBlkPw9sR/TkeHUZ9K8lTcmEHKn+c/D/tN/v1z5z33CZQVy7mFQaXunQ4JvX335JoiGJlqL5IYfsI9Uo2NTl007t7RqmADn+veUJd9mWE1bOUSkAJq7JX/j0QJEAWsug1tJoa4qmnU+okjLOJ7gb73xOe9NlwrwCZQyPEWRDRGLRoEsQEBhiDJu5f/3YFJyhzJsaErhd0MN11jW4SclKMogUKcIbq/J0jwxQSBHgVBfH3Y2Mg6M2Du7cZuK3JIUqwKjOknbhCDqgbx67dszAGg4VzBECCS0wV7jgt7JvdjTrn4c8HJoHQB2Ia5KqvNRvGgAJ4IFJYCp0LPhS7/PSgs5w44l0+TRGAlGRi0dll0Et5aGBFTMrnz6N5WWPKuLNysqKG2XlI2+lyiquHnXz8UXZ1q1QvlC0mF+WZ3niOXLmmlJZ0PlBxk+g2FqseFgGxWIC6ZpnXGEYTADZraTqz+y0+q1k+8eR/2mkCuDX2e24Kn0uSF/pFHjMVNlqqIJgo4FWJ88k3koLBCCLriI+RltF83e6cmhGwCFd6qToF4HOEDkBPHJOB3p5sjpSyhuKklzEFJ86bRSoQuUAVZs6AeSAzlChF2oPyEs6sGdMj/g68tXpBFWlUqWpkB+mTGZyrPMKna0RySr9Rs33iMGT2e27fVFYO54hjRLfKx5opoBCDsw/rD9NJuLBB57gnmehcWRYAvdkJWpFlmsce+usyPK06bQEKhUlpWhUVFwx2fo5rOUq6GwNkazzc79R8z1iyMpxeNYXhbXjGajTkSQTeNDOuXwUcr3MP1h/GlxHxAMfeAL3zw8WGkcGi63tEwMSaQO+5SqWYt7riNiUOnawKcL4So4tz5sNAAAA") format("woff2")
}

i[class^="i90a767179e4e47b2b3a836adc8aaec79-"]:before, i[class*=" i90a767179e4e47b2b3a836adc8aaec79-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i90a767179e4e47b2b3a836adc8aaec79 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i90a767179e4e47b2b3a836adc8aaec79-icon:before {
  content: "\f101";
}
