.non-center {
  width: 100%;
  height: 100%;
}

.non-center.can-overflow {
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px 0px;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.center .inner-wrap {
  width: 100%;
  text-align: center;
}
