
@font-face {
  font-family: "i75eaa7ac5f16480b8b9a1eed5132cbeb";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALAAAsAAAAAB1wAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBBIEbATYCJAMICwYABCAFhkIHLhumBhEVjFWyH4mxLZqtiQPfxOqmrvEmeB7WmO+fI2bWoalV3xYabWIh0VaS5msAgYCBvjl93SIkgLLW8f95F5ec52Qr56jrf66pl0AH/EHkIpdJUUntCTixKGoeSArtjfdGAxrRhrELXuA5COBIulJKdW1zN67LE9urBNKwxwWyfFlemJvA4h40NJiwEIyGbcE7RweilALn6OlJNPygoKvYRe2zNdOU/xYng0HACrwgoO06oALJQAPpboy0oiKMUnGMaETiWPkCv8W2AzNyVAPC/jo71xmAYMg8E+txj5qrAKAlk5kga9JUUGJcknB0BCe7TMTRUY7u7iKb9+41RG7pLIXdmxu/o7rQ3u3hNUbZpauziCbB/glOrubrkCWiYgze3G/N5OsNM62l10PzwAwy9133A98B5di+AoPs7iNVyxlPY27F/y0nBgF+vTS/RcwwN1hncAkMaSAftq3gV/E2i9T5w9wKmZVNCuCII2BDt7ufU0eFiNtym0Rkkpqo4yGqkQ2g48QiGETYAUeS3G53wssXjmgOCJW8AVBwFV9QqZRoVCNnQcd3HySjifwIjsB789s5udh6l7YGc8u+DnlTdZl00nMOjHVeFl4gb5i+d45Dmmt9tS/Ee9GT8iQb9ognTkQ2jCT/dP9MhVmgEPWgh56GfVe6oq7wlsxm15CmAV888Xq4RasGjLWYVwtyjUonIzqix3IAo1quVPDgfYN4A5NvOxaXavPk7/oLRLeFOpFcIlvS/gSUCRGzzuOJ+EduPyYFYwISuF0duvLYfrGB3U6Rq3nRCjyTmCeELoPU6RWGOhN+kT5ena3rBZeftng9nQM=") format("woff2")
}

i[class^="i75eaa7ac5f16480b8b9a1eed5132cbeb-"]:before, i[class*=" i75eaa7ac5f16480b8b9a1eed5132cbeb-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i75eaa7ac5f16480b8b9a1eed5132cbeb !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i75eaa7ac5f16480b8b9a1eed5132cbeb-icon:before {
  content: "\f101";
}
