
@font-face {
  font-family: "i78c5131eb6674d09a87fa531d596e4b5";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALYAAsAAAAAB2QAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBDIEfATYCJAMICwYABCAFhkIHLhuqBsgekiT4k4jxhO8wYAUA8fD/a7T7/sju+bPiyUSjKFQa3gIlEgmJEAmJUjakuVrTDYIqqWtV1RMVGB/uMcllPpeCQ1Xf1GkWqspWh7e0SAKPKLO4dHWjT1yTP0ZQXwC4qKKqpAScWPV5ge0muPPRgMY0BdkdgVryIwLZpknJ28X1faj+NGkLhqQ500EeHz8Dz4S8bFEqaaBTqFsujcUvyGCWDOR4zqyUQZBUpLKT9PR5wYHp93AL3AG1+y3XQ4UCq8dRx1ur8UGKeValZMOTNg2OFR+8R9uGanHUP0/U4MR2gVHKfCaWz37U2ATKdHYX2Ju0nzRb3yrG4/ssHnYeTepdk4Ac8lGTW0mmiyle1OJrTyC6cdUbLmaLFS58yKThdH+yXn5pXo7rnE6OJGd9/VZyIA4ZuEiIiop7qNklx3Ziww4/8udn76fa6X++gTvA/yj+MSZmBp3nMAVIgWPQtuJncRwWEx9j5mS3tishy2ipuc/v1MkwdWPmDlM5v0jFoxQoSStIpfEdqU3pItmK3uXGoA9IibIA4dofQZKe6EMK1zELlKTPSGUkfvPrNtJfJPuY/HaN+fQxUDVb5kUeW4qiSg6nm5rqmrLIO7KuYMmSd7HXbZgxUlvnux3iuBOQFuIZDnvFEm7h2KTYQdY96tx4AqUucmPSRIukRXGjQVA7JiG2KeNT2jZY1uVPYGzShIBKY5PxRDzMolCoJA6OzqRRuUxyL9kh0wG82CLbhXm6GmTQ8VINnvxdH8JiHQGiBeExuCWBJWFrWaKJwpz7LfeQjhseAUW5EFeMaEIWt2eA/IbLJ4aw3b4qhNkohj/B1WZgeTsXNTLsRYZIcmQpeHoKym82aQEAAAA=") format("woff2")
}

i[class^="i78c5131eb6674d09a87fa531d596e4b5-"]:before, i[class*=" i78c5131eb6674d09a87fa531d596e4b5-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i78c5131eb6674d09a87fa531d596e4b5 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i78c5131eb6674d09a87fa531d596e4b5-icon:before {
  content: "\f101";
}
