
@font-face {
  font-family: "i501af95703994353a923bd59f4e1979c";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAKIAAsAAAAABwgAAAI7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAowSAE2AiQDCAsGAAQgBYZCBy4bUwbIHpIkgRDvaeAW4BgAEEGxpnsPFAJVZiEz1YBClo2o0rWOjIlQ+b859sET9KUDT5u/cagnrczuNr+92w2JVDx5EitJNCR699i93vT3jv8C+sBjAsicFXWfGmPoWDiW2eJHYYEm2HkUUMCd9zbNAvcqQ2LEGC4kJGR47BGBxplxjZfzqxvQ8emKAiTN6DgY3fEZhy60HymZDGqVUCigvTiHHBeGgFY/saPJGCTyMpr6bp7nApicB7e4AUpJEyo4R4ojICMe1NKVJoF4k6bUbAPE6g7msVhIQkQNBf511NkGSyDlJJ9KqtUE0hLooKv9hxs78XX9dPRye3DzfPh4Ndi6k6bS3VQ0x7cJvm1zu3P0quUG8G/w02NuNKfaZ8VjHmRFA/KSiRW3+U5co+EsCxT1/U0Ow/rHotL6MNLLGQQow5aIXMs7UVhXE41DF+CWkU9IRVYLM/+FSHRjSqRm0QtlGCVy03g1Cg17IxpPCXx3LTvJVmypmkuxZasGxqZhGS7WDS+wMDWJhm3sr5Gwzlxumez11bYIr2JWIE1Wbc9YIAXhriAB8vZRtRPqQlBEOcvRPCsEyTKGSs4S4gs5EqIcVhTafrJln+UQs6g0Lgqz2FQGDDMZLAYXpjN4AhaMMhEazIb51hChWsbFvWa8/FlvIbhKjCkgGpnqCS1YhS/TJRDB/Z59SGVHSCcIFEJxTA6Z3y8aC5kMQ6vUryUInyCLFgqlYQovo9akzHfZohH5SbThVPbmswIAAAAA") format("woff2")
}

i[class^="i501af95703994353a923bd59f4e1979c-"]:before, i[class*=" i501af95703994353a923bd59f4e1979c-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i501af95703994353a923bd59f4e1979c !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i501af95703994353a923bd59f4e1979c-icon:before {
  content: "\f101";
}
