
@font-face {
  font-family: "ib79a81791b334b3e98d040ef34dba26d";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALMAAsAAAAAB1wAAAJ+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBBIEOATYCJAMICwYABCAFhkIHLhuZBsgekiRxXCFBNAHABACIh6/9Xs/dtyEiDawBVXRYZnxiw2Vhq2SFr6xQqP/lHH4HQCoDXR4AKLQpfVpOL/2RmnGbc4BCrVBkJ67JX4SJ7/aLbIoIak/BgVVTNNhuQgk4mtEUhleHvHfyGoFqi7a07BxdXMPArU8VzGjjdAZ5YtymsQ9dskuWabBSKAfprfGuDJ2uBeT44Y00VSRlBSdl//wwgp3fwRUZAQqja3qhrG5mdj+aOIamXa28d1arasPUZpgWZsHvKJVCjdirUkh/nRNfC3op657YPudWAwluq6tZYG7UTGJ2+eWz1q9fHz9/vv/i9Kipefr28LU6Hr+S8Idv356+tLVDOpS3TXK3eP16hkWM3PXQctf49mWrFk2pKRRLw6PtY1udeyOW1hjhc6MVLTaA9/JNWqDJe/3I1898cON/ZY0RwM9f3pjXzwIqd20O+hhMlBwd/4hLpYnB4tqT2VPTlCFblTiWRn+M9jB0P5YKQ7mgSLnzCzKHnKJlalyj5YbcodVmvKyv0eJTIXKVsOWfoEl9tKOFrVgAMiLQMu3xXVCOkDe02mmCnjXG02kaLK/6K1bw66zAcdzAwdWVyHRNFI4bBb69FF1ifFf4qk9pra92i6pJZcUs3ex3j2OsUPmEEQueWHMf20SCCSVLdiQrwqKQrFYyw5D0hKheMwyBNtBDWUIqsGyVb4WVZlsCDocbL0erVkRMLhMSkBoJ+GxLn/sSit0p+NRcFR79Xd9CSiMlVRiLzpwTOBZV85J9BEWXB54wjXsxGyECIyhSiTla301Q4XolpsbDMihEdMkId22NwdUTfU26cJYGWjjyFHxmIV+FsgIAAAA=") format("woff2")
}

i[class^="ib79a81791b334b3e98d040ef34dba26d-"]:before, i[class*=" ib79a81791b334b3e98d040ef34dba26d-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: ib79a81791b334b3e98d040ef34dba26d !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ib79a81791b334b3e98d040ef34dba26d-icon:before {
  content: "\f101";
}
