.app-header button.network {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-header button.network .content-outer-wrap {
  width: 70%;
  max-width: 640px;
  display: inline-block;
  padding: 4px;
  border: 1px rgb(49, 49, 49) solid;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8rem;
}

.app-header button.network:not(.no-network-selected) .content-outer-wrap {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#444444+0,1c1c1c+100 */
  background: rgb(68, 68, 68); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(68, 68, 68, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(68, 68, 68, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(68, 68, 68, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

.app-header button.network.no-network-selected .content-outer-wrap {
  background-color: red;
}

.app-header button.network .content-inner-wrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.app-header button.network .content-inner-wrap.no-network-selected {
  display: none;
}
