.labeled-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 4px;
  padding: 0px;
  font-weight: inherit;
}

.labeled-icon .icon-wrap {
  text-align: center;
}

.labeled-icon .icon {
  font-size: 1.4em;
}

.labeled-icon .label-wrap {
  text-align: left;
  font-size: 0.8rem;
}
