/**
* TODO: Comb through properties on iOS / Android and remove !important unless
* absolutely necessary
*/
.button-transparent {
  color: inherit !important;
  font-size: inherit !important;
  background-color: transparent !important;
  border: 0px transparent !important;
  outline: none !important;
  text-shadow: inherit !important;
  appearance: none;
}

.button-transparent:disabled {
  color: gray !important;
}
